[2017-04-12 12:16] yuxiangdo opened #2 "Can support tcp request？"
Can the library support tcp request？I wan‘t to use gokrb5 to connect kafka，can you give me a test sample？Thank you very much.

[2017-04-13 12:39] jcmturner commented on #2
The client will use UDP and TCP to connect to the KDC in accordance with this config: https://web.mit.edu/kerberos/krb5-latest/doc/admin/conf_files/krb5_conf.html. If udp_preference_limit is set to 1 then TCP is always used.

In terms of talking to a kerberised service the only thing implemented so far is HTTP SPNEGO which obviously uses TCP.

Please note that gokrb5 is still very much a work in p

[2017-04-15 07:40] jcmturner commented on #2
Hi, there was a bug in the client code when using TCP to talk to the KDC. This should now be fixed.

[2017-04-16 14:51] jcmturner commented on #2
Hi, I don't know anything about the interface kafka provides to integrate with authentication mechanisms like this. You can see in the README.md details about how to configure a client to interact with the KDC to login, get service tickets and form an AP_REQ to send to the service side. There are also details on the serivce.ValidateAPREQ method that can be used on the service side to validate the

[2017-04-16 14:51] #2 closed

[2017-06-23 13:49] kahnert opened #5 "config read error"
gokrb5/config can't read empty lines within a section nor configs containing "v4_name_convert", see http://web.mit.edu/quentin/krb5-config/krb5.conf

[2017-06-23 21:10] jcmturner commented on #5
Fix has been merged for empty line.
I'm not intending to support v4 configs at this time. A more friendly error message should now be given if these are used. I'm not sure if "v4_name_convert" is still a valid as it is not listed at [https://web.mit.edu/kerberos/krb5-latest/doc/admin/conf_files/krb5_conf.html](https://web.mit.edu/kerberos/krb5-latest/doc/admin/conf_files/krb5_conf.html)

[2017-06-23 21:10] #5 closed

[2017-07-11 00:07] F21 opened #7 "How do I use an existing ticket in the credentials cache with SPNEGO?"
First off, thank you so much for creating this library! 😄

I have a usecase where I have an existing ticket (the user has performed a kerberos login elsewhere) and the ticket is available in the credentials cache at this location: `/tmp/krb5cc_$(id -u $(whoami))`.

Do you have an example of using the ticket to authenticate and make requests against a HTTP service using SPNEGO?

[2017-07-11 03:46] F21 opened #8 "Ability to create configuration from default locations of krb5.conf"
This might be useful for the `config` package to augment `Load`.

For example, `config, err := config.LoadFromDefaultLocations()`, which would attempt to load configuration from the following locations:

| Windows    | c:\winnt\krb5.ini                                    |
|------------|------------------------------------------------------|
| Windows    | c:\windows\krb5.ini

[2017-07-11 20:53] jcmturner commented on #8
There is a NewConfigFromReader(r io.Reader) method which you could use to achieve this. If you create a type that implements the io.Reader interface and has the logic to figure out and use the default location in the implemented Read method you could then just pass it into this method to return the config object.

Personally I think that your application should own its own configuration rather tha

[2017-07-11 21:02] jcmturner commented on #7
Hi, I'm glad people are getting some value out of the library!

I've had a quick google for the format of the ticket cache and have not been able to find any documentation of it so it may be tricky to figure out how to do this. I'll keep digging. If you know where I can find this information please let me know and I can take a look.

The README.md has details on how to get a client to talk to an S

[2017-07-11 23:09] F21 commented on #8
@jcmturner Thanks, that makes a lot of sense!

[2017-07-11 23:09] #8 closed

[2017-07-11 23:14] F21 commented on #7
hey @jcmturner

From some quick googling, this appears to document the format of the credentials cache: https://web.mit.edu/kerberos/krb5-1.13/doc/formats/ccache_file_format.html

I am not too familiar with AD on Windows, so I do not know if it support a credentials cache.

As for SPNEGO, I'd love to have an option to use it with the credentials in the credentials cache.

For example, the user has

[2017-07-12 20:33] #7 closed

[2017-07-12 20:46] jcmturner commented on #7
You should now be able to do the following...

Load the credential cache:
ccache, err := credentials.LoadCCache("/tmp/krb5cc")

Create a client from the loaded CCache
cl, err := NewClientFromCCache(ccache)

Now do the SPNEGO request
r, _ := http.NewRequest("GET", "http://host.test.gokrb5/index.html", nil)
cl.SetSPNEGOHeader(r, "")
HTTPResp, err := http.DefaultClient.Do(r)

**A word of warning** if

[2017-07-12 23:20] F21 commented on #7
Super awesome! Thank you so much @jcmturner ! 👍

[2017-08-18 10:55] asaf opened #10 "Propagate error when loading keytab"
Hey,

First i'd like to say thanks for this great library (finally no conflicts between million of versions of native krb libraries!)

Is there any reason why error is not propagated in this line? making it impossible to be aware of IO problems during file read

https://github.com/jcmturner/gokrb5/blob/6aa472fbcf4ab3d72a0874a7fa4975db8671e040/keytab/keytab.go#L101

Thanks

[2017-08-18 16:12] jcmturner commented on #10
I'm using named return values where the error is named err and the call to ioutil.ReadFile sets the value of err. Therefore the return should propagate the error. Are you experiencing a problem with it not doing this?

[2017-08-20 08:46] asaf commented on #10
@jcmturner Ah, no, just a combination of reading the code wrong and a bug in my stack, my bad!

thanks.

[2017-08-20 08:46] #10 closed

[2017-09-07 19:34] 9nut opened #11 "keytab/keytab.go:55 Index out of range panic"
I get a panic in this line if the Principal name has fewer components but leading components match what's in the keytab:

	/home/fst/GoApps/src/github.com/jcmturner/gokrb5/keytab/keytab.go:55 +0x59c

This is my local fix:
[code]

[2017-09-08 10:21] edganiukov opened #12 "Error resolving KDC address: missing port in address"
Hi,
by default KDC port is 88, we have a config without the port and it is works for all other our services, but not with gokrb5. So I assume it would be good to add the default port if it is not defined in krb5.conf. Here is following error:
[code]

Thanks.

[2017-09-09 08:24] jcmturner commented on #12
Thanks for raising this...
The config should now assume port 88 if one is not specified for a KDC

[2017-09-09 08:24] #12 closed

[2017-09-09 10:38] #11 closed

[2017-09-09 10:39] jcmturner commented on #11
I have committed a fix that is slightly different to your suggestion. Let me know if this resolves things for you.

[2017-09-09 11:01] jcmturner opened #15 "Replace use of math/rand with crypto/rand"
math/rand is predictable so should be replaced with crypto/rand

math/rand is currently used in:
- client/network.go
- messages/KDCReq.go
- types/Authenticator.go

[2017-09-09 11:06] jcmturner commented on #15
- client/network.go: math/rand is used just to select a KDC at random from the list. Does not matter that this is predictable so this will remain as is.

[2017-09-09 11:42] #15 closed

[2017-09-12 17:22] SorinS opened #18 "Client configuration validation issue"
Could we get more insight on why the call:
`func (cl *Client) IsConfigured() bool`
return false?

[2017-09-12 20:58] #18 closed

[2017-10-02 13:21] asaf opened #22 "SPNEGO with Active Directory (MechType is worng)"
Hey,

First of all, thanks for this library, no more native dependencies in our stack :-)

We could successfully use it with ApacheDS but fail with AD,

First, we created a Keytab using the following command:
`ktpass -princ HTTP/myvm.mydomain.corp@MYDOMAIN.CORP -mapuser ad_sso_user -crypto AES-128-SHA1 -ptype KRB5_NT_PRINCIPAL -pass passw0rd -out c:\temp\my.ketab`

(etype for this AES-128-SHA1 is

[2017-10-02 14:56] asaf commented on #22
Alright, I've done some progress,
It seems like `RC4-HMAC-NT` is not supported, flagging the account with "AES 128 bit encryption" support started to make things appear differently,

It fails on a [nil reference when trying to set this line](https://github.com/jcmturner/gokrb5/blob/master/credentials/credentials.go#L198)

Here's a small stack trace using the latest version:

[code]

[2017-10-02 15:14] asaf commented on #22
@jcmturner a small PR to initialize credential's groupMembership before assigning values to it fixes the issue,

btw, if `gssapi.MechTypeOIDMSLegacyKRB5` is a legal value for SPNEGO auth then it would make sense to add it as an option to [this if statement](https://github.com/jcmturner/gokrb5/blob/master/service/http.go#L54), seems like things work just fine when removing this line, I'm really not

[2017-10-02 19:27] jcmturner commented on #22
You've raised a few things here. Let me try and address each one in turn...

### [SPNEGO OID of MechToken is not of type KRB5](SPNEGO OID of MechToken is not of type KRB5)
I will need to have a look into this. I think the OID is set by the client and not the KDC. What is the client you are using?
It may be that it just needs to accept this OID too.

### EncType 23
Your AD KDC seems to be returning

[2017-10-02 19:41] jcmturner commented on #22
Looks like it should accept the legacy OID...

https://msdn.microsoft.com/en-us/library/ms995330.aspx

[2017-10-02 20:08] #22 closed

[2017-10-03 06:59] asaf commented on #22
"Looks like it should accept the legacy OID..."
So consider adding this MechType to the http service (I tested, it works fine)

"What is the client you are using?"
I don't think this is client related, I tried logging in using Linux/Windows and used different kind of http clients (chrome / IE), I always got MechType 23, once I flagged the account in AD with "AES 128/256 support" I started to get M

[2017-10-03 07:03] asaf opened #25 "ADCredentials - Username becomes display name"
Hey,

I'm not sure this is a bug or this is an intended behavior, but Credential's userName property becomes a display name when using [ADCredentials](https://github.com/jcmturner/gokrb5/blob/master/credentials/credentials.go#L152),

I started to use the CName instead but I find it confusing,

Please close if this is an intended behavior,

Thanks.

[2017-10-03 19:42] #25 closed

[2017-10-08 12:55] asaf opened #27 ""SID revision value read as 4 when it must be 1""
Hey,

I have a SPNEGO flow that worked fine for some user but suddenly I started to get this error:

`SID revision value read as 4 when it must be 1`

In parallel I tried with other user and it worked fine, but i'm not sure what causing the SID.revision to be 4 instead of 1 for a specific user (tried purging klist ticket, etc... nothing works)
Any clue what could have caused this ?
Microsoft paper

[2017-10-08 13:19] jcmturner commented on #27
This error message comes from [this code](https://github.com/jcmturner/gokrb5/blob/master/mstypes/sid.go#L27-L29) which checks the revision is 1. According to the [Microsoft documentation](https://msdn.microsoft.com/en-us/library/cc230364.aspx) this MUST be the case. So I think the code is right according to the documentation. However there is little information as to what this value represents. I

[2017-10-08 13:34] jcmturner commented on #27
I have found this quote "As of Windows 7 and Server 2008 R2 the SID specification is still in the first revision." I don't know if the number has changed for domain controllers newer that 2008 R2. Still hunting.

If you comment out the code lines that perform this check does it work for this user? I'm wondering if for some reason is the bit stream is shifted by two bits making this number 4 rather

[2017-10-08 13:35] asaf commented on #27
@jcmturner yea i know, I tried to find more info about it but can't,
Well, that's the case in real AD environments (a bit complicated one with some trusts between domains, we login to one domain and access a server from another domain)

I tried commenting this if condition and then failed on  [this line](https://github.com/jcmturner/gokrb5/blob/22b8cb19ed1378a4087995ab6a4adcf7e7f27b91/pac/kerb_val

[2017-10-08 13:38] asaf commented on #27
@jcmturner I think it's 2016 here but the odd thing is that it worked just fine for the (same user!) two days ago and then stopped (nobody changed anything, it was a weekend here)

[2017-10-08 14:05] jcmturner commented on #27
Has this user been added or removed from any groups? Is this user a member of any groups?

[2017-10-08 14:08] asaf commented on #27
@jcmturner it is member of many groups but these groups have not changed during the last 2 days between the time kerberos worked -> stopped working.

[2017-10-08 14:39] jcmturner commented on #27
Can you give me some more info...
* Is the user in the same domain as the KDC it is authenticating to?
* Is the user authenticating to a service in the same or different domain?
* Is the user in groups within its own domain?
* Is the user in groups from other domains?

[2017-10-08 15:13] asaf commented on #27
No, this is the flow:
- the user (e.g. "jcmturner") logs into a windows workstation of domain PROD.COM
- the user then open a browser to a server that has SPN configured in domain TEST.COM (e.g., "http/app1@TEST.COM", the SPN is attached to a another user in the TEST.COM domain (e.g., "krb5_sso")
- the SPNEGO token received by the server that is built with _gokrb5_ has a token for principal _jcmtu

[2017-10-08 15:34] asaf commented on #27
@jcmturner
Ok I found the cause of this problem, it happens when the user is a member of groups associated to another domain.

[2017-10-08 16:06] jcmturner commented on #27
OK thanks, it may take me a while to create a set up to re-create this.

[2017-10-08 16:54] asaf commented on #27
Yes it will,

Let me know if I can help further.

[2017-10-10 13:48] chy373 opened #28 "Is there any example or idea about integrating with hbase and hadoop kerberos?"
I want to use gohbase client to access a hbase cluster with kerberos, however, I am confused with integrating gokrb5 and gohbase.

[2017-10-12 19:56] jcmturner opened #29 "Support referral contained in KDC_ERR_WRONG_REALM message"
Support referral contained in KDC_ERR_WRONG_REALM message

[2017-10-14 00:36] vigith opened #30 "is client.Client thread safe?"
[code]

Can i pass `cl` to multiple go routines? The go routines will be doing something like

[code]

"`GetServiceTicket` makes a request to get a service ticket for the SPN specified and The ticket will be added to the client's ticket cache", will there be a race condition here? or in any other place.

[2017-10-14 07:27] jcmturner commented on #27
@asaf
I think I finally have an environment to try and recreate your problem so I can investigate a fix...

[2017-10-14 08:14] asaf commented on #27
@jcmturner awesome, it seem to happen on every cross domain references so I think you'll be able to easily reproduce.

[2017-10-16 19:33] #29 closed

[2017-10-16 19:44] jcmturner commented on #27
@asaf
I'm having trouble re-creating your issue. I created the following set up:

- User domain: USER.GOKRB5
- Resource domain: RES.GOKRB5
- Authenticated as user: testuser1@USER.GOKRB5
- Requested service ticket to: HTTP/host.res.gokrb5 which is registered as an SPN against a user in the RES.GOKRB5 domain.
- Parse the service ticket PAC content

This seems to parse correctly.
I captured the PAC b

[2017-10-17 20:53] jcmturner opened #32 "Support server referrals"
https://tools.ietf.org/html/rfc6806.html#section-8

[2017-10-17 21:30] jcmturner opened #34 "Support client referrals"
https://tools.ietf.org/html/rfc6806.html#section-7

[2017-10-17 21:41] jcmturner commented on #30
Hi, I think there could be some problems in the caching of the tickets as multiple threads would be writing to the maps of the client cache at the same time. Therefore I would recommend that you create a new client instance per thread at the moment. Not an optimised approach but it should work. It will take some work to make the client thread safe.

[2017-10-17 21:42] jcmturner commented on #28
Sorry I don't know anything about gohbase. Do you have any details as to how you integrate authentication mechanisms with it?

[2017-10-17 21:43] #32 closed

[2017-10-17 23:58] vigith commented on #30
How about i do this? Persist `tkt` and `skey` and pass it to my go routines. Since `GetServiceTicket` is called outside of the go routines (1 time call during initialization) will i run into race conditions?

[code]

Now my go routines will be doing something like

[code]

[2017-10-18 22:00] edganiukov opened #35 "Doc for GetChecksumHash method."
Hi,
I am trying to understand how to calculate checksum in authenticator for AP_REQ and from current documentation is not really clear what GetChecksumHash (if I understand correct, this method should be used for calculating checksum) method parameters are:
https://github.com/jcmturner/gokrb5/blob/51e436274bbce3ad06339e9359d1a1fc8dc21e85/crypto/etype/etype.go#L26

So:
- not clear what is `protocol

[2017-10-19 06:29] jcmturner commented on #35
Hi, You are in the guts of the library here. If you are just using one of the etypes implemented you shouldn't need to worry too much about these inner workings. However I will try to answer your bullet points:

- protocolKey: this is the key obtained directly from the keytab or the sessionkey. From this the actual encryption key is derived using a method specific to the etype that also takes in t

[2017-10-19 12:41] asaf commented on #27
@jcmturner Not that i'm aware of, this is exactly my flow, maybe it has something to do with active directory domain level compatibility ? if you can guide me through I can try to capture the PAC bytes if it helps.

[2017-10-19 19:37] #30 closed

[2017-10-20 14:09] edganiukov commented on #35
@jcmturner thank you for the answer.
Actually I was just following README and stuck on checksum calculation - https://github.com/jcmturner/gokrb5/blob/master/README.md#generic-kerberos-client.
My general goal - authenticate against Kafka Brokers with SASL and GSSAPI described here https://kafka.apache.org/protocol#sasl_handshake. As you see, not really much information about authentication.

[2017-10-20 19:08] #34 closed

[2017-10-21 08:28] jcmturner commented on #35
gokrb5 doesn't currently implement SASL but does have some implementation of GSSAPI, that was needed to support SPNEGO, which may be of use to you.

I think what's needed is to implement some of these RFCs
https://tools.ietf.org/html/rfc4752#section-3.1
https://tools.ietf.org/html/rfc4422

[2017-10-23 20:33] jcmturner commented on #27
The PAC bytes would help. Not sure if you'd be ok sending to me though. You can use wireshark to get this by running on the client filtering for traffic on port 88. Right click in the packet details pane and go to Protocol Preferences > Kerberos keytab file... select the keytab of the service.
Now find the tgs-rep and expand as outlined below.
[code]
Right click on the PAC_LOGON_INFO and copy the

[2017-10-24 05:25] asaf commented on #27
@jcmturner Alright then, it will take me some time to whitelist Wireshark,
I'll post the conclusions when I have them

Thanks.

[2017-10-24 09:14] keith6014 opened #38 "Parsing client credentials cache files"
Do you have an example of parsing client credentials cache files with `kinit`?

[2017-10-24 20:36] jcmturner commented on #38
If you want to read a kinit credentials cache...
[code]
A word of warning though, if you have a long running process using these details you'll need to have something updating the cache regularly and you'll need to re-read to ensure that you handle the event of the TGTs expiring (usually after a period of 10-24 hours depending on your environments configuration).

[2017-10-24 21:32] keith6014 opened #39 "can't load package: .... : no buildable Go source files"
After doing this
`go get gopkg.in/jcmturner/gokrb5.v1`

When I try to import the module.

I keep getting
Can't load package: ... no buildable Go source files.

[2017-10-26 16:06] jcmturner commented on #39
You need to import the specific sub packages...

[code]
examples:
[code]

[2017-10-26 16:06] #39 closed

[2017-10-26 16:07] #38 closed

[2017-10-26 16:08] #28 closed

[2017-10-28 20:32] keith6014 opened #40 "HTTPServer Decryption Error"
Keep getting SPNEGO Kerberos authentication failed

I have a keytab file which I am able to read thru ktutil. When I do "list" I see all the Principals.

The error message is decrypting encpart of service ticket provided: [KRB Error: (45) KRB_AP_ERR_NOKEY Service key not avaliable - Could not get key from keytab: Matching key not found in keytab. Looking for [HTTP hostname.FDQN] real: REAL.com kvn

[2017-10-29 16:37] jcmturner commented on #40
Hi, I suspect the issue may be with the kvno in the keytab. The key version number (kvno) gets incremented each time you change the AD account's password. You need to ensure that the keytab has an entry with the same kvno.

To  check this use the ktutil tool (available on Linux not Windows)
[code]

The error message you are seeing means you need to have this in the listing:
[code]

[2017-10-29 21:05] keith6014 commented on #40
what happens if I don't see the matching KVNO? Do I have to ask my AD administrator to create a new keytab with the service id?

[2017-10-30 21:18] jcmturner commented on #40
I'm not sure why the kvno command comes back with value of two. The kvno value (20) that appears in the log line comes from the ticket returned from the KDC.

If you know the password of the AD account that you registered the SPN against in AD you just need to create a keytab with an entry of the correct kvno (20 in your case) for use on the service side.
You can do this with [ktutil](https://web.

[2017-10-31 00:30] keith6014 commented on #40
Yes, I have the password for the service account.

I am not familiar with Kerberos.

Correct me if I am wrong, I don't think ktutil can create service principals (HTTP/server.org). I think thats done in ktadmin, correct?

[2017-10-31 22:05] jcmturner commented on #40
You are not trying to create a service principal. You are just trying to create a [keytab](https://web.mit.edu/kerberos/krb5-latest/doc/basic/keytab_def.html). Keytabs are basically a format for holding passwords so you are just trying to create one that holds the password for the AD account you have registered the SPN against. You need to add entries to the keytab using the correct enctype and kv

[2017-11-02 11:58] keith6014 opened #41 "Correct way to call client in a goroutine"
Doing some benchmarking and I plan to create few hundred go routines.

What is the preffered way to call the GET call while setting the SPNEGO header

[code]

should i go inside each goroutine? or do I have to just set the SetSPNEGOHeader only once?

[2017-11-02 21:24] jcmturner commented on #41
I think you'll have to set the spnego header within each goroutine as otherwise the server would reject the requests as a replay attacks.

[2017-11-06 16:53] dpotapov opened #42 "KDC did not respond appropriately to FAST negotiation"
Hi,

I'm receiving following error when trying to obtain TGT with `client.Login()` in ActiveDirectory environment:

[code]

Commenting out those line in `KDCRep.go` helps, but, of course, it is not a solution:
[code]
Debugger shows that `k.DecryptedEncPart.EncPAData` has 1 element with `PADataType = 149`.

Thanks.

[2017-11-06 17:04] dpotapov opened #43 "Multi-realm service ticket issue"
Hi,

I'm trying to authenticate to a web service in a different Realm other than client:
[code]
Request fails with 401 - Unauthorized error.

If I use client's credential in `bbb.corp.com` realm - everything works.

I was trying also to specify full SPN for a web service like this:
[code]
does not work either.

Thanks.

[2017-11-06 21:05] jcmturner commented on #42
You can explicitly turn off FAST on your client...

[code]

[2017-11-06 21:21] jcmturner commented on #43
Do you get an error if you...

[code]

What version of gokrb5 are you using? I recently made some updates to work with referrals so if you are using an old version you may not be using that.

[2017-11-07 01:34] dpotapov commented on #42
Thanks, it works! Are the any implications of doing so?
Anyway closing the issue...

[2017-11-07 01:34] #42 closed

[2017-11-07 01:42] dpotapov commented on #43
ok, printing the error message gives an answer:
[code]
I've fixed this by putting correct list of enctypes to my krb5.conf.

Thanks a lot!

PS: I'm using latest v2 code

[2017-11-07 01:42] #43 closed

[2017-11-07 04:31] dpotapov opened #44 "krb5conf: parsing auth_to_local with RULE syntax"
Hello,

krb5conf fails to parse `[realms]` section with auth_to_local RULE definition like:
[code]

It seems the root cause is square brackets, which are interpreted as a new section definition.

[2017-11-07 04:41] dpotapov opened #45 "krb5conf: wrong parsing when [realms] is a last section"
Hi,

When `[realms]` section is last in the config file, it is not detecting last realm:

[code]

Test fails:
[code]

[2017-11-07 21:28] #45 closed

[2017-11-07 21:38] jcmturner commented on #44
The krb5conf doesn't support rules but I'll update to ensure they don't make the parsing error.

[2017-11-07 21:49] #44 closed

[2017-11-07 21:55] jcmturner commented on #40
Hi, were you able to get this working?

[2017-11-13 00:14] keith6014 opened #48 "klist"
When using the gokrb5 libarary, how come the ticket and SPN doesn't show up in `klist`?

When I do a klist first, I see my credential cache, then I do a curl -u --negotiate u: http://foo.org and I authentication. Then when i do a klist I see the credential again. Howwever, when I use gokrb5 I don't see it.

Btw, the client library works, just curious why I don't see the certificate.

[2017-11-15 05:37] dpotapov opened #50 "program panics when default_tgs_enctypes has unsupported enctype"
Hi,

If I have unsupported enctype in the first place of my krb5.conf, the program panics:

[code]

It panics because there is no error check in `krb5Token.go` line 130 and `etype` is `nil`:

[code]

Is it possible to ignore unsupported enctypes in `default_tgs_enctypes` config parameter?

Thanks in advance!

[2017-11-15 05:54] dpotapov opened #51 "KDC_ERR_C_PRINCIPAL_UNKNOWN when login as a user in non-default Realm"
Hi,

I'm receiving following error if I perform `client.Login()` for a user with realm that not matching `default_realm` in configuration:

[code]

[2017-11-16 05:54] dpotapov opened #52 "5 seconds per each ticket request"
I've just realized that my KDC (ActiveDirectory) not closes connection when responding to ticket request.
As the result this `io.Copy()` operation takes 5 seconds on every call:
[code]
_network.go, func sentTCP()_

[2017-11-16 19:50] jcmturner commented on #48
klist is a utility that reads the credentials cache at /tmp/krb5cc_$(id -u $(whoami))

These are OS level integrations and utilities.

Gokrb5 does not store details in this OS cache as it should not be tightly coupled to the OS. Gokrb5 could be used on windows where this cache file does not exist.

[2017-11-16 19:50] #48 closed

[2017-11-16 19:51] jcmturner commented on #27
@asaf did you manage to investigate this any further?

[2017-11-16 19:53] jcmturner commented on #40
I'm going to close this issue, assuming you were able to resolve this.

[2017-11-16 19:53] #40 closed

[2017-11-16 21:19] jcmturner commented on #50
Hi, can you share some more details on your set up and code. I tried to recreate the issue but was unable to get it to panic as you were seeing. Nevertheless not checking the error is bad of me so I've rectified that anyway.

[2017-11-16 22:49] #52 closed

[2017-11-19 10:30] asaf commented on #27
@jcmturner a bit stuck with this as it happens in finance companies (tough to whitelist a sniffer :/)

[2017-11-23 08:56] bodgit opened #56 "Problems parsing krb5.conf"
I was trying to use your library and my test code was generating the error `client krb5 config does not have a default realm`. My `/etc/krb5.conf` does have the `default_realm` setting, here's the relevant bit:
[code]
I tracked down the problem to the fact there's no blank line between `default_realm` and the following `[realms]` section. If I add one then my test code gets further. I looked throu

[2017-11-23 09:06] bodgit opened #57 "Locating KDC's by DNS SRV records"
Once I figured out #56 my next error is that my test client gets the error `client krb5 config does not have any defined KDCs for the default realm`. My `/etc/krb5.conf` simply has the following:
[code]
which means the KDC's are located using DNS SRV records, i.e. `_kerberos._tcp.example.com`, (it's a Windows AD environment).

For now I've just done the lookup manually with `dig` and added them to

[2017-11-24 10:41] bodgit opened #58 "Trouble authenticating against Windows 2012r2"
Here's my test client that I'm trying to get working against my Windows 2012r2 AD environment which I figure should be the bare minimum that should  work:
[code]
With this I get the error ` Error on AS_REQ: [Root cause: Encrypting_Error] KRBMessage_Handling_Error: AS Exchange Error: failed setting AS_REQ PAData for pre-authentication required < Encrypting_Error: Error creating etype: [Unknown or u

[2017-11-25 17:34] jcmturner commented on #58
@bodgit can you provide the /etc/krb5.conf contents. I suspect you may be specifying an enctype in there that gokrb5 does not support.

The error ```KDC did not respond appropriately to FAST negotiation``` can be resolved by adding the following line just before the Login() line.
[code]
I should add this to the readme as a common thing that needs to be done for AD KDCs.

I don't know how the authe

[2017-11-25 17:38] #56 closed

[2017-11-25 17:44] jcmturner commented on #27
@asaf are you able to run tcpdump on the server running the service?

You could...
```tcpdump port 88 -s 0 -w /tmp/pacissue.cap```

Then copy this capture to a workstation that you can have wireshark on to extract as above....?

[2017-11-25 17:46] jcmturner commented on #51
@dpotapov could you test this again with the latest version. There have been some fixes in this area that may have addressed this. I want to confirm if you are still seeing the issue.
Thanks.

[2017-11-26 23:19] dpotapov commented on #51
Hi,
I've got a new after updating to a latest version:
[code]

[2017-11-27 01:31] dpotapov commented on #51
Please ignore my previous post, since unmarshaling issue is related to 5cf868a24ea32b3d89fa06004db9fcb20601f586.

The original issue still persists in latest version.

[2017-11-27 09:45] bodgit commented on #58
Here it is:
[code]

Sorry, yes, I should have mentioned it is RFC 3645. I've done a quick scan of it and it seems for the client side of things, I need the equivalent of `GSS_Init_sec_context()`  and then `GSS_GetMIC()` and/or `GSS_VerifyMIC()`. Section 3 in the RFC covers the initial client side of the negotiation.

[2017-11-27 15:17] jcmturner commented on #58
So I implemented the krb5.conf parsing in line with the documentation here: https://web.mit.edu/kerberos/krb5-latest/doc/admin/conf_files/krb5_conf.html

As documented there the default enctypes if you don't specify them are:
```aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96 aes128-cts-hmac-sha256-128 aes256-cts-hmac-sha384-192 des3-cbc-sha1 arcfour-hmac-md5 camellia256-cts-cmac camellia128-cts-c

[2017-11-27 15:34] bodgit commented on #58
If I don't also prune `rc4-hmac` from that list, I get this error:
[code]
Other than that, my test client now logs in successfully provided I add the `cl.GoKrb5Conf.DisablePAFXFast = true` as you indicated.

[2017-11-27 22:57] dpotapov commented on #50
ok, so I made some investigation with Wireshark, hope the info below will help (maybe for #58 as well).

My initial code is pretty straightforward:

[code]

When `krb5.conf` have lines like I mentioned above:
[code]
the client sends an "AS-REQ" packet to KDC with 2 enc types: 23 and 1 (in that order!).

KDC replies with KRB Error message (PREAUTH_REQUIRED) that includes PA-DATA structure with foll

[2017-11-28 14:31] bodgit commented on #50
The `krb5.conf(5)` man page says the `default_*_enctypes` values are listed in order of preference from highest to lowest.

So to my eyes, the order should be respected rather than sort them again by ID (in descending order, if I'm reading the code correctly) as that would naturally put RC4-HMAC (and Camellia, currently unsupported) at the front of the list as they have the highest ID, and I think

[2017-11-28 16:04] jcmturner opened #61 "EncType rc4-hmac not working with NewClientWithPassword()"
Creating a client from a password rather than a keytab...
[code]
... and using rc4-hmac as an enctype, results in:
[code]

[2017-11-28 16:06] jcmturner commented on #58
@bodgit To address this issue I'm going to filter out unsupported enctypes when the krb5.conf is parsed (a pretty easy update). I have raised #61 to cover the issue seen when using rc4-hmac as this is a different problem as this will require some more investigation.

[2017-11-28 16:09] jcmturner commented on #51
@dpotapov Do you see that your pull request (#60) resolves things in this issue for you? I'll take a look at the PR and if all looks good I'll merge and close this issue.

[2017-11-28 16:15] jcmturner commented on #50
@dpotapov Thanks for the detailed analysis. As @bodgit points out the ordering is important and something I'll take a look at. I need to think about why I did this in the first place.

[2017-11-28 16:16] #35 closed

[2017-11-28 17:24] bodgit commented on #57
I'm happy to have a stab at trying to get this working using github/miekg/dns to do the DNS heavy lifting however the only bit I'm not sure about is the correct way to get from the realm to the DNS domain. Even though I can clearly see in 99% of the cases it just differs by case there are probably some heuristics involved.

[2017-11-28 19:05] jcmturner commented on #57
I'm soon to commit something on this so you probably want to hold off. I'll put something up on a branch but I want to create some integration tests before I merge to master.

[2017-11-28 21:38] benclarkwood opened #62 "Guidance on "kinit"-lite behavior"
Howdy!

I need to bundle something cross-platform that can serve the most basic function of Kinit, specifically, getting a TGT from the KDC and putting it in the ticket cache.

Is it easy to either combine or modify elements of this library to mimic that behavior? It appears that all TGT caching occurs within the go process.

[2017-11-29 10:09] bodgit commented on #57
Ok, happy to give it a test.

After a bit more searching, https://github.com/krb5/krb5/blob/a590ad732ece9da7831673fa472769b6fb319934/doc/admin/realm_config.rst#hostnames-for-kdcs states it's as simple as looking up `_kerberos._udp.REALM`, iff the realm is a DNS domain name.

[2017-11-29 21:17] jcmturner commented on #57
@bodgit There is something on branch issue-57 that I think should work. I've not completed all the testing yet. It only works for Go version 1.9 atm. I need to think about how to integration test this. If you feel like trying it and letting me know if it works for you that'd be useful.

[2017-11-29 21:21] jcmturner commented on #62
Yes all ticket caching happens in the go process as there are OS tools that already do caching to files etc. The idea of this library is for use in Go applications so it's not in scope to do things at the OS level. That said you could write your own "kinit" using this library and write to a cache file yourself. There is no cross platform cache file format so you'd probably have to define something

[2017-11-29 21:21] #62 closed

[2017-11-30 04:31] #50 closed

[2017-11-30 04:57] #58 closed

[2017-11-30 11:44] bodgit commented on #57
A quick cursory test with all of the `kdc = ...` entries commented out in `/etc/krb5.conf` seems to still work. If I run `tcpdump -nn -i any -s 0 -X port 53` alongside my test code I can see the various SRV lookups being made followed by AAAA and A lookups when it picks one of the returned KDC hostnames.

[2017-11-30 12:37] bodgit opened #65 "How to use for RFC 3645 GSS-TSIG"
This was alluded to in #58; I'm trying to use this library to be able to perform dynamic DNS updates that are signed using RFC 3645 GSS-TSIG. According to the RFC, the GSSAPI calls I should be using are `GSS_Init_sec_context()`, `GSS_GetMIC()` and/or `GSS_VerifyMIC()`. I can't find these by name in your library but the "Generic Kerberos Client" section in the README seems to read like it's the sam

[2017-11-30 14:57] jcmturner commented on #57
OK sounds good. The challenge I have is in how to easily test the DNS integration.
I wrote this: https://github.com/jcmturner/dnsutils/blob/master/srv.go
to get the SRV records and order them according to priority and weight. To easily integration test I found a way to override the OS level name server configuration to test against a bind docker container. However this way of overriding is only av

[2017-11-30 16:00] jcmturner commented on #51
I'm closing this issue. I think that when doing the login (AS_REQ) you have to target the KDC for the realm the user is in directly. So this error is expected if you are not talking to the domain that has this user.

[2017-11-30 16:50] jcmturner commented on #61
May have been a symptom of another problem. Integration test added to cover use of password as well as keytab

[2017-11-30 17:11] #61 closed

[2017-11-30 21:00] #57 closed

[2017-12-01 15:55] bodgit commented on #65
Here's what I have currently which is getting a TKEY response back from the server, but is getting a DNS return code of REFUSED, and the TKEY error indicates 17 (BADKEY).

If I compare captured traffic with a known working capture from running `nsupdate`, the only thing that seems to be different in the AP_REQ is that mine does not have the mutual flag (`GSS_C_MUTUAL_FLAG`?) set to true. I can't s

[2017-12-01 17:46] jcmturner commented on #65
The flags are set on this line:
https://github.com/jcmturner/gokrb5/blob/b762b590bd1a1baa7fa43aad41554b493606a47b/gssapi/krb5Token.go#L137

There isn't currently a public method that allows you to specify the flags. Perhaps you try hacking this line as below to see if it works for you and if so I can look to create a new public method that you can specify flags.

[code]

[2017-12-04 10:09] bodgit commented on #65
I tried making that change and it didn't seem to have any effect on the resulting capture, the mutual flag was still unset. I did however get it to work by hacking in the flag change here after creating the new AP_REQ struct:

https://github.com/jcmturner/gokrb5/blob/b762b590bd1a1baa7fa43aad41554b493606a47b/messages/APReq.go#L55

with:
[code]
This has the desired effect that the AP_REQ has the rig

[2017-12-05 16:08] bodgit commented on #65
My bad, `KRB5KRB_AP_ERR_MODIFIED` meant something else entirely which I think was down to requesting the wrong service ticket. I've fixed the code and I now have the server accepting my request and responding back with a TSIG key :tada:, (with the hack above to set the mutual flag).

I now need to verify this response so I need the equivalent of the `GSS_VerifyMIC()` function call to which I then

[2017-12-05 19:17] jcmturner commented on #65
Excellent news! Did you just have to set the flag here...
https://github.com/jcmturner/gokrb5/blob/b762b590bd1a1baa7fa43aad41554b493606a47b/gssapi/krb5Token.go#L137

If so then check out the updates I have put on the issue-65 branch.

You can now use gssapi.NewAPREQMechToken method to create a mechtoken and it takes in an []int for the GSS flags you want.
Then call the Marshal() method on the toke

[2017-12-06 09:52] bodgit commented on #65
Sadly no, that change doesn't seem to have any effect whether I pass in `GSS_C_MUTUAL_FLAG` or not. I ended up applying this:

[code]
With this change it works.

[2017-12-08 18:16] jcmturner commented on #65
I have update the method for the generating the AP_REQ mech token to take input of both GSSAPI flags and AP Option flags. This is on the issue-65 branch:
https://github.com/jcmturner/gokrb5/blob/9ee2b4aff245446008bc6e461d6ef50903146929/gssapi/krb5Token.go#L126

Does this give you what you need to integrate? If so, I will raise a PR into master.

[2017-12-11 11:41] bodgit commented on #65
Yes, that seems to work fine, using something like:
[code]
I still get a successful AP_REP back from the server. Have you managed to have any luck with the `GSS_{Get,Verify}MIC()` side of things?

[2017-12-11 22:01] jcmturner commented on #65
I've merged the branch into master.

I've not been able to look into the GSS_{Get,Verify}MIC() part.

[2017-12-18 18:47] DamjanJovanovic opened #74 "crypto/common/common.go:157:3: constant 4294967296 overflows int"
$ dep status
PROJECT                                         CONSTRAINT     VERSION        REVISION  LATEST   PKGS USED
gopkg.in/jcmturner/gokrb5.v2                    v2.1.1         v2.1.1         fbb9b86   fbb9b86  30

$ go build
vendor/gopkg.in/jcmturner/gokrb5.v2/crypto/common/common.go:157:3: constant 4294967296 overflows int
vendor/gopkg.in/jcmturner/gokrb5.v2/crypto/common/common.go:161:3:

[2017-12-19 03:20] DamjanJovanovic commented on #74
This was on a 32 bit system by the way. You need to return uint instead and to subtract 1 from 4294967296, or return (u)int64 and do more extensive fixes elsewhere.

There is at least one other compile time error on 32 bit.

[2017-12-26 18:02] #51 closed

[2017-12-27 21:44] jcmturner commented on #74
There is a limitation due to the golang.org/x/crypto/pbkdf2 package and its Key() function taking an int as input.

I have submitted a patch to this library to use the big.Int as input (https://go-review.googlesource.com/c/crypto/+/85535)

In the meantime I have worked around this by forking the library.

It would be helpful if you can test by building using the source on branch issue-74
You will

[2018-01-03 10:15] asaf commented on #27
@jcmturner
Hey there, I want to proceed with this but I don't see any packets captured on port 88,

Are you sure it needs to run on the service ? I thought that the server running the service doesn't perform any network activity rather try to decrypt the token locally

Thanks.

[2018-01-03 10:23] jcmturner commented on #27
Does the machine have more than one interface? Are you capturing on the right interface? Also I'm assuming your KDC is listenning on port 88 (the default for kerberos).

[2018-01-03 10:44] asaf commented on #27
@jcmturner i put the right interface, but yet again, since when the service needs access to the KDC?  IIRC spnego auth flow doesn't have any interaction between service -> KDC

[2018-01-03 11:26] jcmturner commented on #27
Ahhh yes sorry you are right you won't see this on the service. This capture needs to be run on the client machine. You could do this with tcpdump on a linux machine. You will need to do the following while running the capture:

* A correct /etc/krb5.conf file for your kerberos environment
* Run: kinit <username@realm> for the use that
* Then run: kvno <SPN, eg HTTP/myhost.domain.com>

[2018-01-03 11:34] asaf commented on #27
@jcmturner Okay that makes more sense :)
Well, it's a windows machine so i guess i'm stuck, I'll try to get some linux machine connected to the AD domain in order to proceed.

[2018-01-03 11:38] jcmturner commented on #27
All you need is the right /etc/krb5.conf file on the Linux machine. There is nothing more to it than that to "connect it to the domain". You don't need anything like compute objects in the AD for it. You are just using it as a client.

[2018-01-03 11:47] asaf commented on #27
@jcmturner done,

The kvno just prints something like:

_HTTP/myserver.mydomain.corp@MYDOMAIN.CORP: kvno = 6

[2018-01-03 22:06] jcmturner commented on #27
Did you get the tcpdump while doing the kvno command?

[2018-01-04 08:33] asaf commented on #27
@jcmturner yea ! do you need the TGS-REP part ?
I can also send you the whole file (privately if possible) if you give me some communication channel to do so (gtalk/skype/etc)

[2018-01-04 14:04] jasonwbarnett opened #76 "leverage github.com/zhuangsirui/binpacker [SUGGESTION]"
Would it make sense to replace your `readIntX` methods with a library like this: https://github.com/zhuangsirui/binpacker

It seems much easier to maintain and read.

[2018-01-04 14:08] jasonwbarnett commented on #76
or even something like this: https://github.com/lunixbochs/struc

[2018-01-05 08:23] jcmturner commented on #76
Thanks I'll take a look. However I have been trying to avoid dependencies other than the Go standard library.

[2018-01-12 02:23] #76 closed

[2018-01-14 12:16] #74 closed

[2018-01-15 08:55] Shastick commented on #65
Hello,
(As I have a question similar to bodgit I'll post here rather than open a new issue).

I can successfully use gokrb5 to authenticate to a service (hadoop via hrpc, in this case, through `NewNegTokenInitKrb5`) but am left wondering how to authenticate the challenge sent back by the server. As bodgit, I've been looking around the code, but might have missed something (I'm relatively new to ke

[2018-01-15 20:35] jcmturner commented on #65
I implemented just enough of GSSAPI to support HTTP SPNEGO authentication so there isn't a full implementation. Therefore the code may not have what you need. GSSAPI is not an area I know in depth so help is appreciated.

[2018-01-16 09:52] Shastick commented on #65
Thanks for the info. I have a few days to play around with this. I hope something useful will come out of it :)

[2018-01-16 16:11] Shastick commented on #65
I made some progress. Before I try to distillate this into a pull request, I had a question: is there any reason you chose to generate a subkey when building the Authenticator?

In `gssapi.krb5Token.go`'s `NewAuthenticator function`, `GenerateSeqNumberAndSubKey` is called on `auth`.

Is there any particular reason a subkey is generated (as this is not required per the RFC, at lest these pertaining

[2018-01-16 19:15] jcmturner commented on #65
Good question. I think I may have wrote the method GenerateSeqNumberAndSubKey before doing the GSSAPI work. Perhaps there should be a GenerateSeqNumber method and for this to be used. I did a lot of the GSSAPI work by inspecting wireshark traces. The RFC was not the easiest to follow ;-)

It would be great if you could pull a PR together and we can continue the discussion there. Please note I rece

[2018-01-17 21:19] dpotapov opened #81 "building on 32-bit system with GOARCH=386 is broken again?"
Hi,

I saw there was an issue recently closed about building on 32-bit systems. Just tried to test it and it seems there is an error still:

[code]

Would be good to have a fix.
Thanks.

[2018-01-19 17:04] airnandez opened #84 "Cannot go get"
Installation instructions of this package do not work for me:

[code]

Tested in two environments:

[code]

Am I missing something?

[2018-01-19 17:31] sambott opened #85 "Keytab and Kvno"
Great library @jcmturner

I'm having a little trouble with selecting keys from the keytab on the client side, because you have to know the correct KVNo ahead of time. Which is, of course, possible to lookup but is a little fiddly.

I couldn't see in the RFC what is the suggested approach for this, but generally when using krb5 libraries you just create a keytab entry with a kvno of (say) 1 and eve

[2018-01-20 09:12] jcmturner commented on #84
I think this error is due to the fact there are no go files directly in the gokrb5.v3 directory. However if you check there should be the other directories and go files downloaded. Have a look in $GOPATH/src/gopkg.in/jcmturner/gokrb5.v3/

I may add a go file to the root directory of gokrb5 just to eliminate this confusing error from go get.

[2018-01-20 09:18] jcmturner commented on #85
Can you provide an example of a library that does this as it will help me look into it. I generally prefer not to take implicit actions as this can lead to confusion when there are issues as root causes get masked. However I can take a look at what other libraries do and consider it.

[2018-01-20 09:24] jcmturner commented on #81
I have been giving this some thought and it may require some more refactoring than it would first appear.

Documentation for the Go ASN1 library says it only marshals/unmarshals integers into int, int32 and int64 and not unsigned ints. The RFC often refers to values as uint32 which would overflow an int on a 32bit system. Therefore I might need to change some ints in the kerberos types into int64s

[2018-01-20 11:07] jcmturner commented on #84
Added a go file to eliminate this error. This will go into the next release version.

[2018-01-20 11:07] #84 closed

[2018-01-20 12:59] jcmturner opened #87 "Implement support for GSSAPI Wrap Tokens"
Add implementation for  GSSAPI Wrap Tokens:
https://tools.ietf.org/html/rfc4121#section-4.2.6.2

[2018-01-22 12:13] Shastick opened #88 "client.TGSExchange.GetServiceTicket(spn string) panics on invalid input"
Calling `GetServiceTicket` with, for example, only a service string (ie, `GetServiceTicket("hdfs")` results in a `panic`:

    panic: runtime error: index out of range

    goroutine 1 [running]:
    gopkg.in/jcmturner/gokrb5.v3/client.(*Client).GetSessionFromPrincipalName(0xc420081cb0, 0x1, 0xc420011430, 0x1, 0x1, 0x1, 0x1, 0x0)
	/home/go/src/gopkg.in/jcmturner/gokrb5.v3/client/session.go:140 +0x

[2018-01-22 20:43] #88 closed

[2018-01-22 21:30] #87 closed

[2018-01-22 21:40] jcmturner opened #90 "Marshal a keytab object and write to file"
Enhancement request:
Add functions to marshal the keytab to bytes and also write to to disk.

[2018-01-22 21:46] Shastick commented on #90
Mentioning it here, though it might deserve its own issue: marshalling a credential cache to file would be very helpful as well.

[2018-01-25 20:36] jcmturner commented on #81
Hi, I believe I have resolved issues for 32bit systems in the code on branch issue-81.
It would be good if you could test and confirm it works for you. Then I can merge to master and create a release. Thanks.

[2018-01-27 16:54] jcmturner opened #91 "Ability to requests tickets restricted to the host’s local address[es]"
Implement the ability to request tickets that can only be used from the client's IP addresses.

This needs the ability to set the "addresses" field in the AS_REQ's request body to the client's local IP addresses

[2018-01-27 16:59] jcmturner commented on #91
Suggesting that this could be a new field in the Client.GoKrb5Conf called "RestrictClientAddresses" so that the cl.Login() interface does not need to change. However the cl.ASExchange() method would be updated to have this as a boolean argument.

Need to consider if this would be passed on to the messages.NewASReq() function or if the cl.ASExchange() would do this itself on the returned ASReq from

[2018-01-30 18:48] dpotapov commented on #81
Hi,
I've tested building with GOARCH=386 on 64-bit linux - it works.

[2018-02-01 22:11] #81 closed

[2018-02-01 22:50] #91 closed

[2018-02-07 11:29] yuxiangdo commented on #2
https://github.com/Shopify/sarama/pull/729
go kafka client cannot support kerberos，someone use SASL2 library，can use your library to solve the problem？

[2018-02-17 17:15] jcmturner opened #95 "Ability to change a password"
Solution to change a password via kadmind and against Active Directory

[2018-02-20 21:56] MadOtis opened #96 "Cannot connect to KDC from client"
ok, so I caveat this with "I'm new to Krb5 authentication" and "Its likely a misconfiguration on my end".  I have a need to set up a simple Kerberos token mechanism in order to connect a Go microservice running in a linux docker container to an MS SQL Server that requires a domain login.

I have a dedicated domain "service account" that can successfully log in using kinit via command-line, however

[2018-02-21 22:05] jcmturner commented on #96
Did you edit the error message to remove the realm name before posting? If not then I think that the kdcDomain you are passing into NewClientWithPassword may be equal to "".

Another possibility is that your krb5.conf looks a little odd. I think you want it to be:
[code]
You may need to change the default enctypes for what your domain supports.

[2018-02-27 09:01] aokolnychyi opened #97 "Unable to parse krb5.conf with tabs"
First of all, thanks for the effort to create this library!

Unfortunately, it looks like krb5.conf files with tabs as indentation are not parsed correctly. This leads to "no user-defined or default realm is specified" later on. I am not sure how correct it is to use tabs in krb5.conf, but I saw this in a Cloudera installation.

I tested gokrb5 2.1.2 and 1.1.0.

Consider a sample krb5.conf below (

[2018-02-27 20:24] #97 closed

[2018-03-07 20:51] dkfitbit opened #99 "Cannot SPNEGO to hosts whose credentials exist in the ccache"
# Setup

[code]

KDC, kinit, and gokrb5 are all choosing aes256-cts-hmac-sha1-96 encryption (etype 18).

Tested against v2.1.2 and v4.1.1. Go version is go1.10 linux/amd64.

# Expected behavior

Uses existing cached ticket for "HTTP/example.com" if one exists in ccache.

Uses TGT to obtain "HTTP/example.com" ticket if no existing ticket in ccache.

# Actual behavior

Works fine if ccache contains

[2018-03-10 14:29] jcmturner opened #100 "typo in travis config"
There is a typo at https://github.com/jcmturner/gokrb5/blob/4f6bed961aa8e808136b8fd9de87cf47d3a77050/.travis.yml#L33
an "i" before "name"

[2018-03-10 14:30] jcmturner commented on #100
iname is valid (case insensitive)

[2018-03-10 14:30] #100 closed

[2018-03-10 14:31] jcmturner opened #101 "gofmt of import statments"
order the import statements

[2018-03-11 16:37] #101 closed

[2018-03-11 16:38] jcmturner commented on #96
Hi, did you get this working OK? If so, I'll close this issue.

[2018-03-22 17:48] bodgit commented on #65
I managed to create https://github.com/bodgit/tsig which works as expected however, because of the lack of MIC tokens, I ended up using https://github.com/apcera/gssapi for the GSSAPI bit. This however doesn't implement any of the Kerberos-specific functions for setting up the session with credentials so I have to make sure I've run `kinit` appropriately beforehand. It also relies on CGo which has

[2018-03-27 00:22] keith6014 opened #103 "ParseCCache and keytab file"
Currently, I use

[code]
this works

However, instead of using the credential cache I would like to use the keytab directly.

Is it as simple as swapping
[code]
or do I have to do more?

**When I tried do it, I get a 401 Unauthorized to my web resource.**

Do I have to anything else? Looking at the code for NewClientFromCCache  I see a lot of functions being called -- https://github.com/jcmturner/

[2018-03-28 18:22] jcmturner commented on #103
You should just need to do this:
[code]

[2018-03-28 18:31] #96 closed

[2018-04-06 16:05] keith6014 commented on #103
Thankyou.
I assume,
cl.WithConfig(c) means cl.WithConfig(conf)

I get [Root cause: Networking_Error] Networking_Error: AS exachange Error: failed sending AS_REQ to KDC: [KRB Error: (24) KDC_ERR_PREAUTH_FAILED Pre-authention information was invalid]

Then
Could not get service ticket: client does not have a session for realm FOO.ORG or for the default realm FOO.ORG, login first

Then I get the 401

[2018-04-06 21:13] keith6014 commented on #103
Not sure if it helps but when I do
[code]

[2018-04-08 08:51] jcmturner commented on #103
Can you share what the output of this command is:

[code]

[2018-04-13 11:55] Shastick opened #104 "`newLibDefaults()` panics if user.Current() returns a nil value"
When `user.Current()` returns a nil value (as it may occur on some systems when a go app is run as `root` – ie, within a docker container in my case), `newLibDefaults()` in `krb5conf.go` will panic due to a nil pointer dereference.

Looking at the code, there is no handling of nil values, or any handling of errors returned by `user.Current()`:

[code]
I fixed this locally by having uid default to

[2018-04-16 19:26] jcmturner commented on #104
I'll take a look into this. As a matter of principle I've been keeping the code OS agnostic and this seems to break this.

[2018-04-17 07:28] Shastick commented on #104
I guess that even a solution that makes the lib fail later if the missing default fields are not overridden but still required is fine.

In our particular case we don't even need these values: it's just about preventing a panic when `Current()` fails.

[2018-04-17 21:57] keith6014 commented on #103
thanks for taking the time to look at this!
I am 99% sure I set the correct password. I tried to give a wrong password in ktutil and it won't let me.
I am able to capture the traffic -- what should I look for and how should I set my filter?
I am not sure what KDC I am using. Its using a NT domain controller I guess.
Are there any other tests I can or should run for this?

[2018-04-21 08:03] jcmturner opened #106 "gofmt check in Travis CI failing for master"

[2018-04-21 08:26] #106 closed

[2018-04-21 11:59] jcmturner opened #108 "service principal names not in correct form to retrieve keys from keytab"
Affects gokrb5 version <= v4.1.1

Error message: "Matching key not found in keytab" when service principals contained slashes/multiple components, e.g. "HTTP/full-hostname.keytab@EXAMPLE.COM".

There is more detail in https://github.com/wintoncode/vault-plugin-auth-kerberos/issues/1

It turns out that this is because the the `sa` is represented differently, in the keytab it's a list of components

[2018-04-21 13:56] #108 closed

[2018-04-26 21:22] jcmturner opened #112 "pointless time variable in keytab GetEncryptionKey"
A time variable is initialised:
https://github.com/jcmturner/gokrb5/blob/f517434b45e429c4e9d528707c3a21ca2c0606fa/keytab/keytab.go#L56

It is used in the if statement that follows which would always be true and the time value is never updated.

Currently there is no point to this time variable.

[2018-04-26 21:47] jcmturner opened #113 "ValidateAPREQ should select the key usage number depending on name type of sname"
The following line has a hard set key usage number to decrypt the authenticator:
https://github.com/jcmturner/gokrb5/blob/f517434b45e429c4e9d528707c3a21ca2c0606fa/service/APExchange.go#L25

However the usage number for an AP_REQ depends on the sname name type as can be seen at:
https://github.com/jcmturner/gokrb5/blob/f517434b45e429c4e9d528707c3a21ca2c0606fa/messages/APReq.go#L74

[2018-04-27 20:35] #113 closed

[2018-04-28 07:54] jcmturner commented on #103
I'm curious about when you say ktutil won't let you use the wrong password. The MIT [ktutil](https://web.mit.edu/kerberos/krb5-latest/doc/admin/admin_commands/ktutil.html) does not check the password is correct, it just formats the value into a keytab file.

I have tested against an NT domain controller and I am still unable to recreate your issue.

What is the client you are trying to authenticat

[2018-04-29 10:07] jcmturner commented on #99
I'm writing some integration tests around CCache to help with this one.

I notice that you are doing this...
[code]
This is not a valid krb5 config so if there is a TGT in the cache the client won't have the configuration needed to know where the KDC to obtain a service ticket.

Nevertheless the client should have able to use a ticket in the CCache if it is already present and still valid so I wil

[2018-04-29 14:11] jcmturner commented on #99
I have written some tests to cover this but I am not getting the issue you are.

The tests written are:
https://github.com/jcmturner/gokrb5/blob/bc57e566151da508625884ff2463482f98301fd5/client/client_integration_test.go#L557
https://github.com/jcmturner/gokrb5/blob/bc57e566151da508625884ff2463482f98301fd5/client/client_integration_test.go#L593

Can you check your setup again?

The only other thing

[2018-04-29 20:46] jcmturner commented on #95
For MS AD and MIT (as of 1.7): https://tools.ietf.org/html/rfc3244.html

[2018-05-02 07:45] aokolnychyi opened #116 "Questions about v1 vs v4"
I have a few questions.

1. If I create a client from cache (i.e., ``credentials.LoadCCache``) but also call ``cl.WithKeytab(kt).WithConfig(cfg)`` later on. Will the ticket be automatically renewed?
2. I am upgrading from v1 to v4. I noticed a difference in the behaviour when I instantiate a client from a keytab. Right now, I have to call ``cl.Login()`` explicitly, which was not the case before. A

[2018-05-04 06:59] aokolnychyi commented on #116
It looks I misinterpreted [this comment](https://github.com/jcmturner/gokrb5/blob/master/client/client.go#L67) in the source code.

I have multiple ways how to instantiate a client. In the approach below, I do not have to explicitly call ``Login()``  before ``SetSPNEGOHeader()``.

[code]

Did I get you correctly that the cache will be ignored in the scenario above? Why is ``Login()`` not needed th

[2018-05-04 15:58] keith6014 commented on #103
Yes, sorry. you are right. It won't check if the password's validity.
The client is a Linux host.  NTP is running on the client.

It must be something I am doing wrong...

[2018-05-05 08:30] jcmturner commented on #116
Thanks, I will reword that comment as it is a little misleading. However, I'm glad it's directed you to look into this as no one wants a production outage a few hours after things seems to be working well.

In the example code you have given above I think it would work if you didn't bother setting the keytab as it will not be used. The SetSPNEGOHeader call will be using the TGT that was loaded in

[2018-05-05 08:35] jcmturner commented on #103
I'm not sure there is much more I can do on this atm. If you continue to have the issue and have more information please re-open this issue.

[2018-05-05 08:35] #103 closed

[2018-05-05 10:00] jcmturner commented on #112
The reason for this was to retrieve the latest key but this time value is never updated.

[2018-05-05 11:29] #112 closed

[2018-05-05 11:33] aokolnychyi commented on #116
Thanks a lot for the clarification!

[2018-05-05 11:33] #116 closed

[2018-05-05 11:33] #85 closed

[2018-05-09 10:16] keith6014 opened #124 "Creating a keytab file"
Is it possible to create a keytab file using the API? I would like to create a keytab and use it to see if it will resolve, https://github.com/jcmturner/gokrb5/issues/103

[2018-05-09 18:36] jcmturner commented on #124
The Keytab type has a Write() method to write the bytes to an io.Writer but I don't think that is what you are meaning.

I'm not sure how creating a keytab with gokrb5 will help you with #103 ktutil can create a keytabs for your testing.

[2018-05-11 12:02] #124 closed

[2018-05-25 12:27] keith6014 opened #125 "go-mssqldb"
Was wondering if its possible to use gokrb5 with https://github.com/denisenkom/go-mssqldb. The library has documentation about kerberos but not too much. I know you don't own the library but was wondering if its similar to use http connection with a dbms connection.

[2018-05-25 14:00] trung opened #126 "docs: additional `go get` required. Chance to use `dep` or `vgo`?"
Thanks for producing a great library. I'm using without any issue so far.

Just a note that there are additional `go get`s required per my experience.
[code]
Is there any chance to use `dep` or `vgo` to support dependency management?

[2018-05-26 03:06] JoshuaSjoding opened #127 "messages/APReq.go:99: DecryptAuthenticator omits inner error message"
While working with [service.SPNEGOKRB5Authenticate](https://godoc.org/gopkg.in/jcmturner/gokrb5.v5/service#SPNEGOKRB5Authenticate) on [v5.0.1](https://github.com/jcmturner/gokrb5/tree/v5.0.1) I received an error that was missing its innermost message:

The inner error message is being omitted by [APReq.DecryptAuthenticator](https://godoc.org/gopkg.in/jcmturner/gokrb5.v5/messages#APReq.DecryptAuthe

[2018-05-26 07:35] jcmturner commented on #127
Good spot. Thanks for this. I'll get that fixed...

[2018-05-26 07:59] #127 closed

[2018-05-26 08:12] jcmturner commented on #126
I'm updating the readme to cover the list of ```go get``` commands. I'm looking into vgo as this seems to be the way versioning is going.

[2018-05-29 20:28] trung opened #130 "question: cross-realm support"
Please bare with me my limited knowledge about the domain language i'm using as I'm pretty new to this area.

In my use case, i need to access a resource which belongs to different realm as shown in the example below:
[code]
I read [this article](https://blogs.msmvps.com/acefekay/2016/09/21/kerberos-authentication-sequence-across-trusts/) and understand that ultimately, `trung@foo.com` needs to ge

[2018-05-30 03:03] trung commented on #130
When reading through the code i believe `referral` scenario has been [taken care in the code](https://github.com/jcmturner/gokrb5/blob/master/client/TGSExchange.go#L41-L54).
However, when running in my real environment, it returns an error:

`KRB_AP_ERR_BADMATCH Ticket and authenticator don't match`

And i found [this](http://freesoft.org/CIE/RFC/1510/24.htm)

Not sure if it's related to the fact

[2018-05-31 00:29] keith6014 commented on #125
any thoughts?

[2018-06-02 19:27] jcmturner commented on #126
I think I'm going to wait for vgo to be production ready rather than put the effort into dep. Therefore it may take a while to get round to this.

[2018-06-02 19:28] jcmturner commented on #125
I had a dig around in the code of go-mssqldb and got a bit lost in how the pluggable the authentication layer is. I think we'd need assistance from maintainers on that project to integrate something. Have you been in contact with them?

[2018-06-04 01:44] keith6014 commented on #125
yeah i have, https://github.com/denisenkom/go-mssqldb/issues/383

[2018-06-07 19:34] szli opened #132 "Terminate client renewal goroutine if creating new session"
In Client's updateSession funciton, if renew time passes, we will call ASExchange and it will create a new session. However, the goroutine ran by enableAutoSessionRenewal is still running, when we create a new session we will start another goroutine to call updateSession. Hence, two goroutines will call updateSession.  UpdateSession will create more sessions by calling ASExchange, which create new

[2018-06-07 20:01] jcmturner commented on #132
Thanks for raising this issue. I'll take a look into it.

[2018-06-07 20:54] szli commented on #132
Looks like the way wait time is computed is also a problem.
`w := (s.EndTime.Sub(time.Now().UTC()) * 5) / 6`
This is not 1 min, this is 5/6 of the duration from now to EndTime.
If in updateSession, renew didn't happen, the s.EndTime does not change. We will keep looping with smaller and smaller w before it passes the end time. Looping will cause new goroutine being created, if we always do ASExcha

[2018-06-07 21:03] szli commented on #132
I think I understand the reason for *5/6, it is for automatically retry if renewTGT fails. However, this causes problem if updateSession runs ASExchange().  In my case, RenewTill is zero, so it always  creates new session. Why RenewTill is zero remains puzzle to me, because in command line, klist gives me a valid RenewTill time.

[2018-06-10 14:36] jcmturner opened #133 "Update to use goidentity.v2"
Update to use version 2 of goidentity. Currently using version 1.

[2018-06-10 15:12] #133 closed

[2018-06-10 15:57] jcmturner commented on #132
Branch "issue-132" has some updates that I think should resolve this. Are you able to try it and check if it resolves the issue for you?

Thanks.

[2018-06-10 21:00] szli commented on #132
I think it solves the problem. Will this be merged to master soon?

[2018-06-11 07:48] jcmturner commented on #132
Yes, I'll be looking to merge today and create a new release.

[2018-06-11 09:11] jcmturner commented on #132
I was looking into merging this and realised the fix I had would not cover the case of code calling Login multiple times themselves so I have updated to give the auto renew go routine a cancellation channel. Any time AddSession() is called any pre-exiting sessions have the cancellation signal sent so auto renew goroutines should exit.

Can you take another look and see if this fixes things for you

[2018-06-11 16:07] szli commented on #132
I left a review comment.
We observed the extreme resource usage in a long running process, and took a while to find out it came from this library. To reproduce this error, I manually change sleep time to 10 sec, and observed the large amount of goroutines are created.  In my opinion, these kind of functionality is hard to unittest because it has external dependency (krb servers)

[2018-06-11 18:37] jcmturner commented on #132
Just doing some integration tests and then I'll merge. I have docker images for KDCs to test against.

[2018-06-11 19:12] szli commented on #132
The change looks good to me. Thank you!

[2018-06-11 19:53] #132 closed

[2018-06-11 20:34] tokenrain opened #137 "simple kerberized http server - example code not quite working"
I am very new to GoLang but have been using Kerberos to protect web
sites for quite some time using the mod_auth_kerb module for Apache. We
run a fairly generic MIT Kerberos infrastructure on Linux and all of out
hosts can use netgotiate authentication to reach Keberized web sites.

I am building my first GoLang based web services and would like our
clinets to authenticate directcly to the GoLang

[2018-06-12 19:22] szli opened #138 "Blocking send on client session cancel channel"
https://github.com/jcmturner/gokrb5/blob/b7336d9b230f10c8436b1a932b454ab044232e22/client/session.go#L45

I think the channel should have a buffer size 1. I observe that, the `i.cancel<-true` call blocks because the `<-s.cancel` is in the same goroutine. With buffer size 1, push will be successful, and when we poll using select, it will get the boolean.

[2018-06-13 07:16] jondysinger commented on #137
I was running into similar issues. I was able to get it to work and had to make two changes. The first was that I had to specifically call out the SPN but not include the @REALM on the end in the service.SPNEGOKRB5Authenticate call.

`mux.Handle("/", service.SPNEGOKRB5Authenticate(th, kt, "HTTP/example.domain.com", false, l))`

I had been used to using HTTP/example.domain.com@DOMAIN.COM from mod_a

[2018-06-14 18:31] jcmturner opened #139 "Krb options not being set correctly on KDC requests"

[2018-06-14 18:37] jcmturner opened #140 "Client session suffers from race condition"
The goroutine that automatically renews client sessions can suffer from a race condition if the session happens to be being read at the same time.

[2018-06-14 18:42] tokenrain commented on #137
Thanks so much for this code change. That was indeed the issue and I have created a pull request with  the very small change needed to associate nametype.KRB_NT_SRV_INST and keyusage.AP_REQ_AUTHENTICATOR so that we can use unmodified code after the merge is done. Again thanks!

[2018-06-14 19:39] jcmturner commented on #137
Hi,

You are right the examples have been neglected and I'll need to fix that and create some integration tests to ensure they keep up in the future.

I think the SPNEGO handler wrapper should be updated to manage the @DOMAIN.COM suffix.

With regards to the name type this needs some careful investigation and a look through the RFC to make sure this is the right fix and not just something that hap

[2018-06-14 20:59] #140 closed

[2018-06-14 20:59] #139 closed

[2018-06-15 19:57] jcmturner commented on #138
I see it will block if the previous session has been cancelled but it will still be present in the Entries map. I think I need to remove the session from Entries as well as make this non-blocking to be safe.

[2018-06-15 22:19] szli commented on #138
Here is my understanding. In the renewal goroutine, when timeout, it will call updateSession, and it will call cl.Login(), and it will call AddSession, and will call i.cancel<- true. All these happens in the renewal goroutine synchronously. The <-s.cancel is also in renewal goroutine.

[2018-06-16 08:48] jcmturner commented on #138
Yes, I see. I think you're right a buffer of 1 should solve the problem.

[2018-06-16 09:34] #138 closed

[2018-06-16 09:45] jcmturner opened #147 "Clarify and improve specifying the keytab principal for SPNEGOKRB5Authenticate"
* Improve the documentation to make it clearer what that "sa" argument is for:
https://github.com/jcmturner/gokrb5/blob/f71127f5747b426fbc25761ef6b2a37072456eb2/service/http.go#L35
* Enable the principal passed to also specify the @REALM suffix. This will need the logic to be updated in this function: https://github.com/jcmturner/gokrb5/blob/f71127f5747b426fbc25761ef6b2a37072456eb2/messages/Ticket

[2018-06-16 09:52] jcmturner opened #148 "Key usage number may not be correct for decrypting authenticator"
***Re-Creating Issue***
Run a HTTP service using `service.SPNEGOKRB5Authenticate`
Then run this command:
`curl --negotiate -u : -X GET http://<server address>/`

***Error***
`
GOKRB5 Service: 2018/06/11 20:14:20 http.go:91: 10.103.12.64:59696 - SPNEGO Kerberos authentication failed: [Root cause: Decrypting_Error] Decrypting_Error: error extracting authenticator: error decrypting authenticator: <ni

[2018-06-16 09:55] jcmturner commented on #137
I'm closing this issue now as I have...

* Included running the example.go in the Travis build to ensure it keeps up to date
* I have raised specific issues for the items raised here. Please follow these if you are interested:
#147
#148

[2018-06-16 09:55] #137 closed

[2018-06-16 09:57] jcmturner commented on #126
Closing this issue and will address when vgo is ready for production use.

[2018-06-16 09:57] #126 closed

[2018-06-16 11:51] jcmturner opened #150 "ANNOUNCEMENT: Dropping support for Go 1.7"
Support of **Go 1.7** in gokrb5 will be dropped when Go 1.11 is released.

What this means:
* Releases of gokrb5 will be made without testing against Go 1.7.
* Issues that only affect gokrb5 when Go <=1.7 is used will not be fixed.

[2018-06-16 11:52] #147 closed

[2018-06-16 15:52] jcmturner commented on #148
The following is not related directly to the issue here but was discovered during testing.

It appears that curl version 7.29 does not do SPNEGO properly. It does not add the right GSS-API header.
In the wireshark output below for curl 7.29 you can see that the OID immediately within the GSS-API section is the KRB5 oid. This should be SPNEGO OID and should contain a negTokenInit. See the 2nd  outp

[2018-06-16 15:54] jcmturner commented on #148
It appears that curl is setting the SName type to kRB5-NT-SRV-HST (not kRB5-NT-SRV-INST as was mentioned in the work around). This name type was not matched to a key usage in the AP_Req.go file.

[2018-06-16 15:58] jcmturner commented on #148
Seems the <nil> in the log line has already been fixed in master

[2018-06-16 16:33] #148 closed

[2018-06-18 00:53] tokenrain commented on #148
Just wanted to say thank you for making this update. I see that you have instituted a new function to match nametypes to keyusage. At least the software that I need now works with gokrb5 without any modification. As well thanks again for writing and maintaining this codebase. It is very helpful to me in many ways.

[2018-06-18 11:25] pault28 opened #156 "ClientClaimsInfo error parsing byte stream headers: Malformed NDR steam: Not enough bytes."
Hi,

We use this library as part of https://github.com/wintoncode/vault-plugin-auth-kerberos.

We have a working setup that accepts kerberos ticket issued on linux host. However when we run with tickets issued from our windows 10 boxes we get `ClientClaimsInfo error`. Both windows and linux machines are on the same domain.

A bit more background around the kerberos ticket generated on linux and wi

[2018-06-18 16:24] pault28 commented on #156
@jcmturner Just adding a bit of debugging to the code and I see this error:
[code]
the `commonHeaderBytes` is empty. Any indicator of anywhere else I can put debugging to get better help?

[2018-06-18 18:46] jcmturner commented on #148
Very pleased to hear this is working and useful for you. I appreciate you taking the time to say thanks :)

[2018-06-18 19:15] jcmturner commented on #156
Hi,

Can you try the code on branch "issue-156".
https://github.com/jcmturner/gokrb5/blob/issue-156/pac/client_claims.go

A bit "trial and error" I'm afraid.

I tried to marshal the tickets you provided but they don't seem to be TGS replies.

[2018-06-18 21:54] pault28 commented on #156
@jcmturner It works!!! on both linux and windows clients. This is awesome. :)
I applied your patch against `gokrb5.v4` which the vault kerberos plugin is tied to.

[2018-06-19 10:28] pault28 commented on #156
@jcmturner - quick update. Got a different but related error this morning. See below:
[code]
This happens only when I log on to my machine using smart-card. Remoting to a server without smart card and running same code works just fine.

[2018-06-19 12:36] sbinet opened #157 "gokrb5.v5: "Encrypting_Error: Error getting key from credentials" when logging in with cached credentials"
hi there,

I am trying to authenticate against the CERN KDC using the following program (`Go-1.10.x` and with `go version devel +b7d9e6e149 Mon Jun 18 11:53:40 2018 +0000 linux/amd64`):

[code]

running it, I get:
[code]

I do have a correct kerberos ticket:
[code]

the `login/password` authentication works though:
[code]

any ideas what I am doing incorrectly?

[2018-06-19 18:42] jcmturner commented on #157
The `IsConfigured()` function checks that the client is fully configured. This includes if the client has either a keytab or password as without these TGTs cannot be renewed when they expire. When you create the client from the CCache you don't have a password or keytab for the client just the tickets and TGTs that were already in the cache. Therefore you should not use the `IsConfigured()` func w

[2018-06-19 18:59] sbinet commented on #157
ah, ok, it was just a keyboard-chair interface issue :)

removing the call to `Login()`, I confirm I can successfully access data on the remote server, even with the CCache approach.

thanks a lot for clearing things up!
(and also for the quick turn around)

[2018-06-19 18:59] #157 closed

[2018-06-19 20:51] jcmturner commented on #156
I've pushed another update to branch issue-156. Can you try this?

Hopefully we can work through these issues.

Microsoft are not consistent in what is and is not NDR encoded and the documentation does not always specify what is an isn't. This has made it hard to code as I also have little to no access to test data to work against.

[2018-06-20 12:46] pault28 commented on #156
Thanks @jcmturner - Will give that a try shortly. There is a new error that will make you laugh a bit :)

[code]
From my investigation using different users in the domain, I was able to narrow the cause to number of AD groups a user belongs to. Users with high number of AD groups experience this error whilst those with a lower number of AD groups do not.

[2018-06-20 12:47] pault28 commented on #156
The able only happens from windows machine as well.

[2018-06-20 16:43] jcmturner commented on #156
OK this is difficult to troubleshoot as I don't have any ClientClaimsInfo to test against. I think I may need an AD environment with ADFS installed (a bit of a guess as I'm not a windows expert). Let me try this and see what I can get in a test environment.

[2018-06-20 16:54] pault28 commented on #156
Thanks @jcmturner - I understand your pain but appreciate your help as well.
Got below when testing with new patch with smart card login

[code]
every thing else still works as last reported.

[2018-06-23 12:39] jcmturner commented on #156
I'm working on getting an Active Directory set up that will send me some client claims info. So far I've managed to get it so send me some but its zero in size. I'll keep working on it and then I'll have some data to test against.

[2018-06-24 13:51] jcmturner commented on #156
I think I have fixed the ClientClaimsInfo issue you were having on branch "issue-156". It was a bit of a rabbit hole ;)

I now need to figure out the CredenitalsInfo one.

[2018-06-25 02:11] keith6014 commented on #125
so, i got some info from the author. i barely understand it. any ideas on your end?

[2018-06-25 17:37] jcmturner opened #158 "Add support for PKINIT RFC4556"
Add support for certificate based authentication in the AS exchange.
https://tools.ietf.org/html/rfc4556.html

This could be useful fro smart card based authentication.

[2018-06-25 18:14] jcmturner commented on #156
I looked further into the CredentialsInfo issue. It seems that this is only needed in order to support RFC4556 which gokrb5 has not yet implemented (#158 has been raised for this). However I don't think you need RFC4556 for what you are doing so you just happened to be running into something which wasn't quite right but you don't need and wouldn't work for any one any way.

Therefore I have disabl

[2018-06-26 13:13] pault28 commented on #156
I used issue-156 branch, however I get below on all windows kerberos tickets.
[code]

[2018-06-26 13:20] pault28 commented on #156
Please disregard the comment above. seems the branch was overridden when I was running make build. trying again.

[2018-06-26 14:48] pault28 commented on #156
@jcmturner Can I ask for a favor please? Can you port the changes to branch created from v4.1.2? It's just that the vault kerberos plugin is tied to v4.1.2 making a bit tedious for me to get a working build of it with the changes in issue-156.
When the changes were a few files it was easy for me to port the changes and run `make`. Thanks.
I will keep trying and report back.

[2018-06-26 15:20] pault28 commented on #156
The successful build I made with the patch gave error on windows authentication.
[code]
The only code that works so far windows is https://github.com/jcmturner/gokrb5/commit/1876a7e93fade557293bb8a73d1e370ee906b58d and
https://github.com/jcmturner/gokrb5/commit/ec0a0bb40ad05bb6630003e5a95756ee57722621 combined.

[2018-06-27 21:19] dkfitbit commented on #99
Sorry for the long delay, I was out of the office for several months.

For the moment we've abandoned gokrb5, because we encountered too many problems trying to get our version 1 out the door. Namely, this issue plus the fact that MacOS X has a completely different way of storing cached TGTs (which gokrb5 does not currently implement). I still like gokrb5 and will likely recommend it to others for

[2018-07-02 02:46] touch-head-optimistically opened #159 "Correct way to shutdown client"
hi ~

I have inited a client in each go routine because I'd like to check series users but I didn't found a function to close them.

I'm suffering from memory cache problems due to creating too many clients.

[code]

[code]

As above, is there anyway that I can shutdown or close this client?

[2018-07-05 13:15] bboreham opened #160 "README ValidateAPREQ() example doesn't compile"
This code:
[code]

(wrapped in a slightly larger program)
gives:

[code]

It looks fairly trivial to fix, but your contributing guidelines request opening an issue first.

[2018-07-09 10:07] bboreham opened #161 ""Networking_Error" description is confusing when applied to a server response"
I'm trying to debug something else, which is almost certainly my own mistake, but along the way got confused by this message:

[code]

Referring to [this code](https://github.com/jcmturner/gokrb5/blob/master/client/TGSExchange.go#L29-L32):
[code]

`sendKDCUDP()` and `sendKDCTDP()` return various kinds of errors up to the point where they get a response from the server, all of which could fairly be

[2018-07-09 11:15] bboreham opened #162 "krberror.Errorf() mangles variant args passed in"
Generally it passes `a`, the entire array, into places that are expecting a list of args.

In the current codebase this doesn't matter because it is only called with no variant args, but I needed to know a couple of extra things while debugging so tripped over this.

[2018-07-09 18:18] jcmturner commented on #156
Hi, I have investigated further and committed some new code to issue-156. Would you mind testing and see if this works for you? With regards to back porting to v4 I would prefer not to as this would be a lot of work on an old version. I am thinking of putting a PR into wintoncode/vault-plugin-auth-kerberos to up it to version 5.

[2018-07-09 18:22] jcmturner opened #165 "Noise in integration tests"
Integration tests running in travis have a lot of lines like below that make it difficult to spot true issues:

[code]

[2018-07-10 12:32] pault28 commented on #156
Hi, am on vacation at the moment. Should be able test it on Monday. Many thanks.

[2018-07-10 17:51] #162 closed

[2018-07-10 18:07] jcmturner opened #166 "ASExchange can miss handling some errors"
There is no default on this switch statement so the error will not be returned for errorcodes that are not defined explicitly in the switch statement:

https://github.com/jcmturner/gokrb5/blob/c00b90f331559ec8bb02cdbdfd4f29e67283573b/client/ASExchange.go#L29-L52

[2018-07-10 18:23] #161 closed

[2018-07-10 19:16] #166 closed

[2018-07-11 10:10] asaf opened #168 "Error decrypting AP_REQ authenticator: integrity verification failed"
Hey,

Using latest code with an attempt to validate a SPNEGO token sent by an IE11 client: `ValidateAPREQ`:

(caused by _rfc3961/encryption.go:VerifyIntegrity_)
it fails on the authenticator decryption part.

Using osx clients such kinit / chrome works just fine.

After investigation, the difference is as follows:

- IE11 sends a MechType.APReq.Ticket.SName.NameType with value 2
- Curl sends a Mec

[2018-07-12 19:37] natxo opened #170 "when using apache2.4 with mod_gssapi I need to turn set KRB5RCACHETYPE=none"
hi,

When using a simple http client with spnego headers against a centos 7 with apache2.4 and mod_gssapi, I need to turn off that variable in the server.

I found this in the error_log of apache:

[code]
See https://github.com/modauthgssapi/mod_auth_gssapi/issues/83 for the details

This is the go code:

[code]
If I disable that environment variable, then this is the result:

`&{401 Unauthorized

[2018-07-12 19:53] natxo opened #171 "default_realm should not be mandatory in configuration"
You can always specify other configuration files using environment variables or inline templating in the go code.

See http://web.mit.edu/kerberos/krb5-1.12/doc/admin/conf_files/krb5_conf.html for all the details.

Additionally, the usage of the 'default realm' relation should not be compulsory (according to the info the mit kerberos site), and the usage of dns_lookup_realm should be obeyed. Right

[2018-07-12 20:05] natxo commented on #170
just for completeness, curl --negotiate --user : http://host.sub.domain.tld/private works correctly

[2018-07-16 16:56] pault28 commented on #156
@jcmturner - This is failing to build with the vault kerberos plugin:
PS - I am referencing the master branch of ndr in https://github.com/jcmturner/rpc/tree/master

[code]

[2018-07-16 17:07] pault28 commented on #156
Please ignore the last comment @jcmturner. Just realized my working copy of issue-156 is outdated. Will update back.

[2018-07-17 01:08] keith6014 commented on #125
@jcmturner  any thoughts?

[2018-07-17 11:13] pault28 commented on #156
Hi @jcmturner - I get a different type of error on windows irrespective on of the way I authenticate.
[code]

[2018-07-18 10:52] pault28 commented on #156
@jcmturner, if you don't mind, are you available for a chat regarding this on Skype? My skype id is ptinagbedia. I have sent a request to Jon Turner today....hopefully that's you.

[2018-07-18 17:46] jcmturner commented on #125
I checked the issue you raised against the go-mssqldb project and it doesn't mean too much to me either. I think we need that project to add the enhancement to their codebase

[2018-07-18 18:06] jcmturner commented on #171
gokrb5 has been written to be platform agnostic library so I don't want to default to a unix/Linux file location. The code using the library can implement that logic if it makes sense to them.

The point you make about default_realm is valid so I'm going to rename this issue for that.

[2018-07-18 18:51] jcmturner commented on #159
There is currently no way to shutdown a client. This was not a use case I had anticipated but it sounds reasonable.

[2018-07-18 19:57] pault28 commented on #156
That’s perfectly fine @jcmturner.

The error is server side as we only use it for server side authentication.

[2018-07-19 06:51] asaf commented on #168
I use:

revision = "5502bb09507bcc91e28c9b6feba046beb2e007d1"
version = "v5.2.0"

[2018-07-19 07:54] asaf commented on #27
@jcmturner what are we going to do about this one? I'm willing to privately send you the SPNEGO ticket in base64 for further debugging if you are up to it, otherwise lets close this -- your call.

[2018-07-19 08:43] natxo commented on #171
maybe if we do not see it as a 'default' but as a 'fallback' (result is the same, ease of use to the end user or application developper) then you could reconsider this choice. Seeing the library honour the environment variables would be awesome as well (and those are not only unix/linux, mit kerberos is for Windows as well).

[2018-07-19 08:54] natxo commented on #171
come to think of it, KRB5_TRACE would be awesome too ;-)

[2018-07-27 06:17] jcmturner commented on #168
Thanks for confirming the version. Are you able to share any details about the value of MechType.APReq.Ticket.SName.NameString that IE11 is passing?

[2018-07-27 18:43] ragansa opened #172 "NewClientFromCCache fails after a call to kinit -R"
Go Version: 10.2
gokrb5 version: 7b8d6d34cee695591dbaa854c72d0d9b2ebb55e8
Running on Mac OS

Building a `NewClientFromCCache` works great from a fresh `kinit`, however, if the user runs `kinit -R` Calls to NewClientFromCCache fail with:
`Failed to get token with cache: TGT not found in CCache`

Digging around, the only change I can see in the ccache is that the Server NameType goes from a 2 (when

[2018-07-27 19:07] gregprosser commented on #172
(I work with @ragansa and am helping him unpack this)

From a kerberos POV, other things (like for example ssh) seem to be able to use this krbtgt/ to get service tickets despite it being the wrong NameType, so it's still "working".  I suspect this is a MacOS bug (kinit -R shouldn't be mangling that type), but I suspect the library is being too strict in enforcing it like this?

This enforcement o

[2018-07-29 09:03] jcmturner commented on #172
Thanks both for the analysis here. As you have spotted in the RFC it states:
``It [name type] is not significant when checking for equivalence.``

Therefore I shall update this:
https://github.com/jcmturner/gokrb5/blob/7b8d6d34cee695591dbaa854c72d0d9b2ebb55e8/types/PrincipalName.go#L37
to not check the nametype value.

Then I'll look into why if this is not checked in the Equal method why the TGT

[2018-07-29 12:04] jcmturner commented on #172
Can you share some more details on the steps to re-create the ``KRB_AP_ERR_BAD_INTEGRITY`` error?

I have removed the check of the name type.

[2018-07-29 12:19] jcmturner commented on #168
After reading this section of the RFC again: https://tools.ietf.org/html/rfc4120#section-6.2

It seems that I cannot rely on the name type value. Therefore I think I just need to update the function below to look for ``krbtgt`` as the first element in the principal name. If it is found then the key usage is ``TGS_REQ_PA_TGS_REQ_AP_REQ_AUTHENTICATOR`` for anything else it is ``AP_REQ_AUTHENTICATOR`

[2018-07-29 16:31] asaf commented on #168
@jcmturner alright, let me know once you patch the code base so I will give it a try.

[2018-07-30 09:37] jcmturner commented on #168
@asaf I have merged into master what I think should fix this. I have not created a new release yet. Are you able to try with this and let me know if it works for you? Thanks.

[2018-07-30 09:39] jcmturner commented on #156
@pault28 I have merged a fix for #168 into master. Can you test to see if this resolves your issue? I'll then look to create a new release. Thanks

[2018-07-30 09:43] jcmturner commented on #170
@natxo for the first error that references a replay are you making the request to the server more than once from the client? The code you have posted seems to imply not but the error you are getting is usually when a client has tried to use the same ticket twice.

For the second error do you have any logs from the apache server for  this as I think this will help diagnose what the issue is here. T

[2018-07-30 09:45] jcmturner commented on #27
@asaf I have done some refactoring work of the PAC parsing that is currently in the master branch (not in a release yet). Can you try with this code to see if you get the same issue? Thanks.

[2018-07-30 12:23] jcmturner opened #178 "config switch to disable PAC parsing"
Provide an ability to disable parsing the MS Active Directory PAC data.

[2018-07-30 12:24] jcmturner opened #179 "error message to start in lower case"
Review the code base for where upper case has been used at the start of error messages.

[2018-07-30 12:33] jcmturner opened #180 "error messages to start with lower case"
Review the code base for where upper case has been used at the start of error messages.

[2018-07-30 12:33] jcmturner commented on #179
duplicate

[2018-07-30 12:33] #179 closed

[2018-07-30 12:49] jcmturner commented on #171
the default_realm configuration is now optional and is only used if no realm is specified. This has been merged into master and I'll create a new release shortly that will contain this.

[2018-07-30 13:14] jcmturner commented on #178
This would likely require a major version revision as it would need an update to:
https://github.com/jcmturner/gokrb5/blob/0c2b7606425a7ed2989cf79c7e7d13fdf20b611c/service/http.go#L57
and
https://github.com/jcmturner/gokrb5/blob/0c2b7606425a7ed2989cf79c7e7d13fdf20b611c/service/APExchange.go#L17

Current thinking is to have a service configuration struct:
[code]

The functions listed above would th

[2018-07-30 13:58] pault28 commented on #156
Thanks @jcmturner - I will get this a test and report back.

[2018-07-30 15:12] #180 closed

[2018-07-30 15:22] jcmturner commented on #159
I think this should just be a case of cancelling the auto renewal and letting the Go garbage collector sort out the rest.

This means having a method that can be called to send the message on the cancel channel.

Proposing
- Client.Destroy() method on the client that will:
    - Call sessions.Cancel() - calls session.Cancel() on each session
- session.Cancel() will:
    - send a message on the ses

[2018-07-30 22:09] pault28 commented on #156
@jcmturner - I did a quick test this evening with the fix from #168 which seems to work. I will validate all of the other errors are gone too first thing tomorrow (ie works with smart card and users with many AD groups). Thanks.

[2018-07-31 08:29] pault28 commented on #156
@jcmturner - all good here. Works for smart card and users with many AD groups.  I will keep an eye for the new release. Thanks once more.

[2018-07-31 14:29] #159 closed

[2018-07-31 22:42] ragansa commented on #172
Actually, I must've inadvertently made some other changes that were causing the 2nd issue (the KRB_AP_ERR_BAD_INTEGRITY), I did a fresh pull from your latest merge with the removal of name type and that has fixed our issue!

Thanks!  Appreciate your help, and thank you again for this library!

[2018-07-31 22:42] #172 closed

[2018-08-01 06:41] jcmturner commented on #172
Excellent, glad we got it fixed. Thanks for replying and closing the issue.

[2018-08-01 06:42] jcmturner commented on #171
This is now in release 5.3.0 so I'm going to close this issue. Thanks for helping make gokrb5 better! :)

[2018-08-01 06:42] #171 closed

[2018-08-01 06:44] jcmturner commented on #156
@pault28 thanks for confirming. I have now issued release 5.3.0 with this included. I'm working on a PR to https://github.com/wintoncode/vault-plugin-auth-kerberos to upgrade it to this version of gokrb5.

[2018-08-01 06:44] #156 closed

[2018-08-01 06:55] jcmturner commented on #27
I have made release 5.3.0 that I'd be interested if you can recreate this issue with.

[2018-08-01 06:56] jcmturner commented on #168
I have issued release 5.3.0 that I think will resolve this. Can you test and confirm? Thanks.

[2018-08-01 19:33] jrb commented on #158
This would also be useful for enabling multi-factor authentication against FreeIPA (and possibly other mit-krb configurations). IPA relies on an anonymous pkinit ticket being used for FAST armour.

[2018-08-12 00:39] denisenkom commented on #125
Hi, I am working on Kerberos support for go-mssqldb.  I am trying to understand how I can integrate with gokrb5.  MSSQL supports SPNEGO mechanism, so I think I would use gssapi.GetSPNEGOKrbNegTokenInit(creds, tkt, key).Marshal() function to generate initial SPNEGO packet and send it to server.  MSSQL server will respond with NegTokenResp which I can parse with gssapi.Unmarshal.  Now I can check ne

[2018-08-15 18:54] mxk1235 opened #186 "error getting key from credentials"
I am seeing a weird error sent up from gokrb5.  I've confirmed that the components and realm of the credentials are present in the keytab, so I suspect the problem here is the etype (encoding type).  The keytab lists the principal as having RC4_HMAC etype, whereas etype: 17 is AES128_CTS_HMAC_SHA1_96.  meanwhile the pre-auth etype appears to be is determined here https://github.com/jcmturner/gokrb

[2018-08-17 13:47] keith6014 commented on #125
hey @jcmturner ,
any thoughts?

[2018-08-18 09:11] thda opened #187 "consider dual licensing under a less restrictive license"
Hi, and many thanks for this library.

Would it be doable to dual-license with a GPL compatible license such as MPL 2.0 ?
Some C software is GPL licensed, and go's static linking implies that one cannot use gokrb5 if it uses such libraries via cgo.

Dual licensing with a GPL compatible license would solve the issue.

Cheers,
Thomas

[2018-08-20 06:09] asaf commented on #27
@jcmturner same thing

[2018-08-20 19:59] mxk1235 commented on #186
i can't share the whole krb5.conf, but the enctypes defined in it are

[code]

[2018-08-23 10:50] jcmturner commented on #186
So the options I suggested are still the things to try:

Set the values of default_tgs_enctypes and default_tkt_enctypes in your krb5.conf to rc4-hmac:
[code]
or
Create an entry in your keytab for the AES128_CTS_HMAC_SHA1_96 encryption type. See http://web.mit.edu/kerberos/krb5-latest/doc/admin/admin_commands/ktutil.html (using the -e argument)

[2018-08-23 10:54] jcmturner commented on #27
OK thanks. I have been working on a full implementation of decoding NDR byte streams (https://github.com/jcmturner/rpc/ndr) which is what the PAC is encoded in. I'll be looking to covert gokrb5 to use this soon. I think I have a much more solid implementation of NDR decoding.

I'll let you know when I have something for you to try and I'm hopeful it will resolve this.

[2018-08-23 12:34] jcmturner opened #188 "Adopt gopkg.in/jcmturner/rpc.v1"

[2018-08-25 18:57] asaf commented on #27
awesome, keep the good work 👍

[2018-08-28 19:45] aebruno opened #189 "AS Exchange Error sequence truncated"
gokrb5 version = 5.3.0
go version = go1.10.3 linux/amd64

Here's my code:

[code]

/etc/krb5.conf looks like this:

[code]

The above fails randomly with:

panic: [Root cause: Encoding_Error] Encoding_Error: AS Exchange Error: failed to process the AS_REP < Encoding_Error: failed to unmarshal KDC's reply: asn1: syntax error: sequence truncated [recovered]
        panic: [Root cause: Encoding_Error

[2018-08-28 21:54] #178 closed

[2018-08-28 21:54] #188 closed

[2018-08-30 21:09] jcmturner commented on #27
I've released v6 of gokrb5 that uses a new NDR decoder. Can you try this and see if it resolves this issue? Thanks.

[2018-08-31 06:42] asaf commented on #168
@jcmturner I think it's working, i'm giving it few days more in testing, will close if resolved.

[2018-08-31 21:16] aebruno commented on #189
Thanks for the tip. I can confirm this was an issue with one of our KDCs being unresponsive. Closing this issue. Thanks again for the great library!

[2018-08-31 21:16] #189 closed

[2018-09-01 09:32] jcmturner commented on #125
I've not had any time to look at this one yet. Have you had any input from the owner of go-mssqldb?

[2018-09-01 14:44] #165 closed

[2018-09-01 14:57] jcmturner commented on #170
@natxo do you have details on your apache 2.4 config so that I can look to recreate this for testing?

[2018-09-01 15:13] jcmturner commented on #99
@dkfitbit I think the issue here is that your clients are logging into the CORP.COM domain and getting TGT for that domain and through a trust getting a TGT for the PROD.COM domain within which the serivce resides that you are trying to access. The problem seems to be that the ``NewClientFromCCache`` function is only loading the TGT for the default realm and not others that may be in the cache. I'

[2018-09-01 16:36] denisenkom commented on #125
Hi @jcmturner, I am the owner of go-mssqldb.  Please see my comment on same thread: https://github.com/jcmturner/gokrb5/issues/125#issuecomment-412310578

[2018-09-03 17:54] jcmturner commented on #99
Actually I'm not sure that what I commented above was the issue. You mentioned in the original post,

There have been some other issues around this part of the codebase that have been addressed in the meantime so I'm wondering if these have also resolved this issue. Are you able to test and confirm from your side?

Thanks.

[2018-09-03 19:02] natxo commented on #170
@jcmturner ,
apologies for the delay in getting back to you, life happened.

This is the relevant httpd config:
<Location /private>
    AuthType GSSAPI
    AuthName "GSSAPI Single Sign On Login"
    GssapiCredStore keytab:/etc/httpd/conf.d/fqdn.keytab
    Require valid-user
</Location>

The host is running centos 7 with the default apache2 and mod_auth_gssapi like indicated here: https://access.re

[2018-09-04 20:14] asaf opened #195 "domain name was changed in release 5.2"
Hey,

Having AD realm such _FOO.COM_, in previous releases after decoding SPNEGO token the `credentials.Realm` object was resolved to _FOO.COM_ while in latest releases it was changed to _FOO_.

Just wanted to verify that this is the expected behaviour, if so then we can close this,

Thanks.

[2018-09-05 07:13] sbinet opened #196 "gokrb5.v5: error processing realms section: v4 configurations are not supported in Realms section"
hi there,

I haven't looked too deep into this but one of my user couldn't authenticate (through CCache) because the (CERN operated) cluster he's working from has this section in the `/etc/krb5.conf` file:

[code]

this returns the error from the title of this issue:
`error processing realms section: v4 configurations are not supported in Realms section`

testing this locally on a test machine, I

[2018-09-05 20:03] jcmturner commented on #195
@asaf you are right this does not look correct. I think it is because of the lines below but they were introduced  in v1.1.3

https://github.com/jcmturner/gokrb5/blob/f5b5d035fe8c9212b223058a3a8c22c099e623cf/credentials/credentials.go#L125-L127

[2018-09-05 21:04] jcmturner commented on #196
@sbinet commenting out the section will not cause any issues for gokrb5 but I can't comment on what effect this may have on anything else you have that may be using the ``/etc/krb5.conf`` file.

The parsing of the krb5 config returns an error for the v4 elements to ensure it is clear that they will have no effect. However I could just have the parser ignore then silently.

What do you think? Expli

[2018-09-05 21:10] sbinet commented on #196
I would go with an explicit error that *I* can ignore, as long as I also get a valid `credentials.CCache` back :)

[2018-09-06 10:40] asaf commented on #195
@jcmturner easy to fix :)

[2018-09-08 15:07] jcmturner commented on #168
@asaf are things still good? Can this issue be closed?

[2018-09-08 19:06] jcmturner commented on #170
@natxo I've tried to recreate your issue but I've been unable to.

You can see that the integration test below tests against mod_auth_gssapi:
https://github.com/jcmturner/gokrb5/blob/2bdd8614e51c306c067b105027d299f42852262f/client/client_integration_test.go#L321

The web server being tested against is using mod_auth_gssapi configured as you have it:
https://github.com/jcmturner/gokrb5/blob/2bdd861

[2018-09-08 20:57] jcmturner commented on #196
Version 6.0.1 has improved this. You can use type assertion to check for an error but ignore ones of type ``config.UnsupportedDirective``

[code]

[2018-09-08 20:57] #196 closed

[2018-09-08 20:57] jcmturner commented on #195
v6.0.1 has a fix for this.

[2018-09-08 20:57] #195 closed

[2018-09-09 08:41] jcmturner commented on #150
gokrb5 v6 has not been tested against Go 1.7

Although it may work any issues due to a reliance on Go 1.7 will not be resolved.

[2018-09-09 08:41] #150 closed

[2018-09-10 09:42] sbinet commented on #196
thanks! I confirm migrating to `v6.0.1` (and handling `config.UnsupportedDirective`) fixed the issue I had on CERN's cluster.

thanks a lot for the low latency of fixing issues :)

[2018-09-10 21:12] jcmturner commented on #125
@denisenkom I've been reading up on the negotiation mechanism again to refresh my memory.

When using the ``GetSPNEGOKrbNegTokenInit`` function the init message generated will only specify one mechanism (krb5) and will also include the krb5 authentication token in the initial message. When this is included you should not expect to see **accept-incomplete** response as this is returned when the neg

[2018-09-12 23:29] AnirudhVyas opened #202 "unsupported EType error"
[code]

I am guessing I get this error because DES3CBCCRC is not implemented, I am not sure what am I missing other than this - here is my client initialization code -
[code]

[2018-09-15 12:43] jcmturner commented on #202
I think this is because your TGT in the CCache is of enctype 1 DES3CBCCRC which is not supported. You can confirm this with ``klist -e ``. This is a weak encryption type so probably not good to be using that type any way. You can probably fix this by updating your krb5.conf to only have stronger encryption types specified.

Is there a particular reason you are using the OS CCache rather than loggi

[2018-09-17 23:18] AnirudhVyas commented on #202
well this is a test for me personally, The bug that i posted is related to colinmarc/hdfs which uses gokrb5 lib to do stuff, when I run klist -e I get -
[code]
I would be using their binary to do ls which in turn uses krb5 - if we need to add the type (I do not own certificate issuing auth in this case, if they support the auth, I'd add it (worth a try, will do and update here). But if I cannot I

[2018-09-18 01:02] Shastick commented on #202
Hello @AnirudhVyas,

I'm happy to encounter a prospective user of colinmarc's hdfs library!

The error you see is related to Kerberos specifically, and not the go hdfs client:

How you initialise your credential cache (probably doing a `kinit`) results in credentials for which encryption types using `DES` are used (as suggested by `Etype (skey, tkt): des-cbc-crc, des3-cbc-sha1` in your pasted text

[2018-09-20 15:28] keith6014 commented on #125
@denisenkom
how are you doing? does @jcmturner suggestion  help?

[2018-09-22 09:10] jcmturner commented on #168
@asaf can this issue be closed now? Thanks.

[2018-09-22 09:10] jcmturner commented on #27
@asaf are you still seeing this issue with v6?

[2018-09-22 09:27] jcmturner commented on #99
@dkfitbit have you been able to try this again? thanks.

[2018-09-22 14:56] natxo commented on #170
just tried this:
[code]
When running it and capturing the traffic in Wireshark, I clearly see negotiate header in the packet.

The difference in the traffic capture is that (using the kerberos filter) the go client does a GET request twice and a 401 comes back.

The curl client does first a GET, the server sends a 301 back, the curl client requests the GET again (same url, then the server sends th

[2018-09-24 05:56] asaf commented on #168
@jcmturner closing for the time being, we'll be doing profound testings during the next month, if something will popup i'll re-open, thanks!

[2018-09-24 05:56] #168 closed

[2018-09-24 05:57] asaf commented on #27
@jcmturner closing for now, will re-open if needed, thanks!

[2018-09-24 05:57] #27 closed

[2018-09-24 19:12] jcmturner commented on #202
@AnirudhVyas have you resolved your problem? I don't see an issue here with gokrb5. I propose we close this issue...

[2018-10-11 11:04] asaf opened #204 "MechToken init comparison issue"
Hey,

I am failing [on this validation](https://github.com/jcmturner/gokrb5/blob/master/service/authenticator.go#L83),

While OID is expected to be `1.2.840.113554.1.2.2` the list returned from AD is:

`[1.2.840.48018.1.2.2 1.2.840.113554.1.2.2 1.3.6.1.4.1.311.2.2.30 1.3.6.1.4.1.311.2.2.10]`

So equality fails,

This happens on multiple domains,

Also related to [https://github.com/jcmturner/gokrb

[2018-10-12 06:59] rezmont opened #205 "loading credential cache from API type"
Thank for the library. Super useful and much needed as I could not find anything even close to this in golang.

I was trying to use the credential cache and this [ticket](https://github.com/jcmturner/gokrb5/issues/7). As I did some googling I found that there are multiple types of caches: https://web.mit.edu/kerberos/krb5-1.12/doc/basic/ccache_def.html
I was wondering if there a way to load creden

[2018-10-12 18:18] jcmturner commented on #204
I have merged in #203 which I think should address this. I still need to create a release that contains this.

[2018-10-12 18:27] #202 closed

[2018-10-12 18:38] jcmturner opened #206 "golint broken in travis build"
[code]

[2018-10-12 19:30] #206 closed

[2018-10-14 13:49] asaf commented on #204
@jcmturner seem to be ok now,

(now closing for a reminder to release this)

thanks!

[2018-10-15 14:03] dlespiau opened #208 "DES3 string to key doesn't check for weak and semi-weak keys"
RFC 3961, section 6.3.1 says:
[code]

Note the sentence saying each of the 3 64-bit output expansions need to be checked for weak and semi-weak keys, in which case they are xor'ed with 0xf0, but I don't see that this check is done in the code.

[2018-10-18 07:47] sjokoladefoged opened #209 "KDC_ERR_PREAUTH_FAILED after certain amount of time"
Hi,
Everything works perfect for approximately 24 hours, after that period the following error starts to appear.
`could not get service ticket: [Root cause: KDC_Error] KDC_Error: AS Exchange Error: kerberos error response from KDC: KRB Error: (24) KDC_ERR_PREAUTH_FAILED Pre-authentication information was invalid`
After restarting the service everything works normal again.
Any help is appreciated.

[2018-10-20 16:49] jcmturner commented on #209
Thanks for raising this issue. I believe this is because the client's krb5.conf has an enctype that the KDC does not support and the client is trying to use this during the renewal of a TGT and failing when the KDC rejects it. The client should be able to handle this so I've worked on this and will be creating a release shortly that addresses it.

[2018-10-20 16:56] jcmturner opened #210 "ANNOUNCEMENT: Dropping support for Go 1.8"
Support of Go 1.8 in gokrb5 has been dropped.

What this means:
- The code _may_ still work with Go 1.8.
- Releases of gokrb5 are now made without testing against Go 1.8.
- Issues that only affect gokrb5 when Go <=1.8 is used will not be fixed.

[2018-10-22 08:53] sjokoladefoged commented on #209
Thanks for the reply - the krb5.conf contains no default enctype's, clients config is similar to below
[code]

[2018-10-27 06:35] jcmturner commented on #204
New release v6.0.2 now includes this.

[2018-10-27 06:35] #204 closed

[2018-10-27 06:39] jcmturner commented on #209
@sjokoladefoged I've just released v6.0.2 which has some fixes that may resolve this for you. Can you test and confirm?

If this does not resolve it I'll need some more detail on the code you have. Also I'm not sure the krb5.conf you have posted is the one you'd be using as that is the default config from the MIT krb5kdc package so doesn't contain any config for your specific domain.

[2018-10-29 15:09] dlespiau opened #215 "Replace bytes.Equal with subtle.ConstantTimeCompare"
It's nice to use constant time comparison functions in crypto code so the time it takes for the comparison to fail cannot be used to deduce how many bytes were correct. The `crypto/subtle` package has exactly that! https://golang.org/pkg/crypto/subtle/#ConstantTimeCompare

[2018-10-29 19:35] jcmturner commented on #215
Thanks for the tip!
I have looked through the code for bytes.Equal and I only see it being used for comparing computed checksums with the ones provided. Given a checksum cannot be used to deduce anything about the value over which it is computed I cannot see what could usefully be figured out from the time it takes to compare checksum values. I'd be interested to know if you agree with this or not

[2018-10-29 21:47] dlespiau commented on #215
First, just to be clear, I'm definitely not a crypto expert :)

I noticed that the HMAC equal() takes great care of doing that: https://golang.org/src/crypto/hmac/hmac.go?s=2543:2577#L86.

I also noticed that the C library uses constant time comparisons:
https://github.com/krb5/krb5/blob/master/src/lib/crypto/krb/verify_checksum.c#L75
https://github.com/krb5/krb5/blob/09c9b7d6f64767429e90ad11a529e

[2018-10-30 19:32] jcmturner commented on #215
Thanks for this. If the hmac package deems it necessary then I think I should also do the same for any hash comparisons.

[2018-10-30 19:56] #215 closed

[2018-10-31 06:55] asaf commented on #204
@jcmturner 👍

[2018-10-31 22:14] #208 closed

[2018-11-06 11:27] jason51285128 opened #218 "KDC_ERR_ETYPE_NOSUPP: while calling login function"
An  error occurred while calling the login function, the error log is:
[code]
my krb5.conf file is:
[code]
and my source code is：
[code]
is there any problem?

[2018-11-06 22:24] #218 closed, assigned to nobody

[2018-11-08 11:56] sjokoladefoged commented on #209
Hi, I tried it out now, it doesn't fail anymore - it hangs. Works normally for the same amount of time as before, but then the requests hangs while authenticating.

[2018-11-08 18:21] szilardhuber opened #220 "Reading full request body before returning with 401"
I created a SPNEGO authentication http server using gokrb5. I run it on Windows behind an nginx proxy.

What I experience is that when uploading bigger requests (like file upload), sometimes I get 502 Bad Gateway on the client from the nginx proxy and in the nginx error logs I see the following error:

```WSARecv() failed (10054: An existing connection was forcibly closed by the remote host) while

[2018-11-10 16:01] jcmturner commented on #220
I'm not sure this is the right way to address this. It does not seem safe to me to read all the posted body from an unauthenticated client. For example a denial of service could be performed by sending a very large amount of data. I have looked at other Go HTTP authentication solutions and they do not do this either.

In the error message you see I interpret the "remote host" as the client and "up

[2018-11-10 16:57] jcmturner commented on #209
@sjokoladefoged thanks for checking on this for me. I was able to reproduce the hanging issue and develop a fix.

Can you try with v6.0.5?

[2018-11-11 07:15] jcmturner opened #225 "Add logger to client"
Add the ability to specify a logger for a client so that issues with auto-renewal can be logged.

[2018-11-11 07:23] jcmturner opened #226 "Change http context key to be namespace string rather than int"
The context key for holding the identity information uses an integer that could clash with other entries added to the context by the code using the gokrb5 library:
https://github.com/jcmturner/gokrb5/blob/7dcbe74cbe5e2608946b19ecb3835162935ab7a0/service/http.go#L16
https://github.com/jcmturner/gokrb5/blob/7dcbe74cbe5e2608946b19ecb3835162935ab7a0/service/http.go#L23-L26

This should be changed to:

[2018-11-12 08:56] szilardhuber commented on #220
Thank you for the detailed and very friendly answer @jcmturner. :)  I think you are right with the DoS danger of my changes.

I guess this might be a Windows+Nginx issue in my case then. Thanks again, I'm closing the issue.

[2018-11-12 08:56] #220 closed

[2018-11-12 16:06] srinathgs opened #228 "WSMAN service returns accept-incomplete when sending with flags other than GSS_C_INTEG_FLAG|GSS_C_CONF_FLAG"
I am trying to use this library to develop a kerbros client talking to wsman service. One of the reference implementations that I came across which does kerberos is [pywinrm](https://github.com/diyan/pywinrm), which uses [requests-kerberos](https://github.com/requests/requests-kerberos). This sets up the GSS_C* flags as `GSS_C_MUTUAL_FLAG | GSS_C_SEQUENCE_FLAG` as you can see [here](https://github

[2018-11-16 11:16] Folcky opened #229 "ValidateAPREQ does not check ServiceName"
e.g. for example if you have two services with the same keys in keytabs, you can authenticate on both of them.

[2018-11-19 07:46] Shamil-R opened #230 "How decode token from AD"
I made my own server, and place it in domain.
Now, i want give clients to auth with Windows account.
So, i builded thing like on this [picture](https://msdn.microsoft.com/en-us/library/ms995329.http-sso-1-fig03(l=en-us).gif)
My server get token in header Authenticate `Negotiate YII...`, and i stuck in step 5
How decode and check this token?

P.S. keytab from KDC i have.

[2018-11-21 10:54] sjokoladefoged commented on #209
@jcmturner once again:
Failed to set SPNEGO Header reason: [could not get service ticket: [Root cause: KDC_Error] KDC_Error: AS Exchange Error: kerberos error response from KDC: KRB Error: (24) KDC_ERR_PREAUTH_FAILED Pre-authentication information was invalid]

[2018-11-22 18:33] jcmturner commented on #230
Perhaps this example will help:
https://github.com/jcmturner/gokrb5/blob/12682928eb798abc1dd97ab419ab82c758e01e8a/examples/example-AD.go#L66-L75

[2018-11-26 15:18] dlespiau opened #232 "types.GetHostAddress doesn't produce correct addresses"
The client machine has the following addresses: `172.17.0.1, 192.168.3.225, 172.17.8.1`. The service is running locally.

This is a trace of a service trying to check host adresses contained in a ticket:

[code]

We do find the client IPs in the ticket, encoded as 4 bytes. `types.GetHostAddres()` encodes the client address (`127.0.0.1`) in a weird way though.`0x49 0x50 0x55 0x46 0x48 0x46 0x48 0x4

[2018-11-29 21:25] jcmturner opened #233 "User-to-User Authentication Exchange"
Add support for user-to-user authentication exchange: https://tools.ietf.org/html/rfc4120#section-3.7

[2018-11-30 17:43] jcmturner opened #234 "Filtered PAC processing"
Provide a method to filter which PAC entries will be processed.

[2018-11-30 18:54] #230 closed

[2018-11-30 21:27] #233 closed, assigned to jcmturner

[2018-12-12 10:10] sjokoladefoged commented on #209
I've been sick - sorry for the late response. The version is double checked, as the newest one, i'll get a tcpdump done next week when I am back in the office.

[2018-12-20 17:17] bodgit commented on #65
So I think I've finally gotten MIC token support implemented in #238 based heavily on the original Wrap token support added in #83 by @Shastick.

However, it doesn't work. As per https://github.com/jcmturner/gokrb5/issues/65#issuecomment-375398353 I have a small library to do all of the DNS heavy lifting and I have made a branch with an implementation based on this library (including my pending PR

[2018-12-20 21:12] jcmturner commented on #209
Hi, were you able to get the tcpdump?

[2018-12-20 21:12] #210 closed

[2018-12-21 15:16] bodgit commented on #65
Okay, I think I've figured it out. What I wasn't doing was extracting the encrypted part of the `KRB_AP_REP` response and using the key contained within for the subsequent signing, it took some guesswork and poring over other Kerberos implementations to work out what I should be doing.

It turns out I do need to set the `AcceptorSubkey` flag on the token but so far I've not explicitly set any sequ

[2018-12-28 13:38] jcmturner commented on #65
@bodgit thanks for all the hard work on this. I know what it's like poring over wireshark traces to figure this kind of thing out. I'll take a look at the current PR, however I won't be able to merge until there is test coverage.

[2018-12-28 16:34] jcmturner commented on #232
I think the issue here is with this line:
https://github.com/jcmturner/gokrb5/blob/46e0011dbd1e9c5ff8bd25e5e9a277c56202ce58/types/HostAddress.go#L56

[2018-12-28 17:56] #232 closed

[2018-12-28 18:31] jcmturner commented on #229
Checking the RFC (https://tools.ietf.org/html/rfc4120#section-3.2.3) the only items I can see that relate to this validation are:

   realms, with different keys in each, the srealm field in the
   unencrypted portion of the ticket in the KRB_AP_REQ is used to
   specify which secret key the server should use to decrypt that
   ticket.The KRB_AP_ERR_NOKEY error code is returned if the server
   do

[2018-12-28 18:34] jcmturner opened #240 "Refactor items for service side"
Aims for a refactor of the service side:
* Configuration of the max clock screw that the service will accept.
* Use variadic configuration: https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis
* Make the service side code less SPNEGO specific. Perhaps using interfaces to make things more generic with SPNEGO being a specific implementation.
* Check against https://tools.ietf.org/

[2018-12-28 18:37] jcmturner commented on #225
Look to use variadic configuration for client: https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis

[2018-12-29 08:08] #65 closed

[2018-12-29 08:10] jcmturner opened #241 "Integration test and example of GSS-TSIG for DNS update"
Write an integration test for GSS-TSIG performing a DNS update.

Add to the examples directory code that does GSS-TSIG DNS update.

[2018-12-29 08:15] jcmturner commented on #241
@bodgit I was thinking of implementing an integration test of the DNS update using GSS-TSIG. I have a bind DNS container as part of the travis tests. I could set that up to do a DNS update using GSS-TSIG. Do you have some code you are using to do this that could form the basis of this integration test?

[2018-12-31 17:06] bodgit commented on #241
The library that does all of the heavy lifting is here: https://github.com/bodgit/tsig

A working example is documented here: https://github.com/bodgit/tsig/blob/master/gss/gss.go

You could replace the `NegotiateContext()` call with `NegotiateContextWithCredentials()` or `NegotiateContextWithKeytab()` as appropriate if you wanted to use a user other than the current one with either a known passwo

[2019-01-09 21:35] sjokoladefoged commented on #209
Sorry, I haven't had time yet, currently waiting the 24 hours for the renegotiate to happen and then I will get it done.

[2019-01-09 21:58] jcmturner commented on #209
Hi @sjokoladefoged were you able to investigate here? thanks.

[2019-01-14 00:19] sjokoladefoged commented on #209
Not seeing anything from the tcpdump inside the container - I will let it run on my laptop the coming week and hopefully get something clear there.

[2019-01-14 21:32] #229 closed

[2019-01-15 22:11] jcmturner commented on #225
merged into draft-v7 branch

[2019-01-18 14:17] lukeo3o1 opened #247 "Using gokrb5 with go-ldap"
There is currently no implementation of Kerberos GSSAPI authentication on [go-ldap](https://github.com/go-ldap/ldap).
Is it possible to use gokrb5 implementation or any ideas?

[2019-01-18 20:01] jcmturner commented on #247
My understanding is that go-ldap is an LDAP client. Can you explain what your use case is here?

[2019-01-18 20:31] #99 closed

[2019-01-19 03:44] lukeo3o1 commented on #247
I use go-ldap to browse active directory
But in go-ldap you can only use Simple Build with TLS/SSL, StartTLS for authentication.
In my case, you can't use simple build and TLS/SSL, StartTLS authentication, only GSS-API, DIGEST-MD5 can do it.
But currently go-ldap does not support GSSAPI (go-ldap issues [#115](https://github.com/go-ldap/ldap/issues/115))
So I think maybe can do this with gokrb

I u

[2019-01-20 07:45] sjokoladefoged commented on #209
Did the TCP dump though I think the error is different, I will get a look at it later.

[2019-01-21 09:22] wonderflow commented on #2
@jcmturner  hi, kafka's mechanisms is something like this https://github.com/Shopify/sarama/blob/master/broker.go#L871.

When establish a new tcp session, firstly client talk with kafka broker with an authrized token, and if the token was checked ok by kafka broker, then client can use this tcp connection to continue.

So, Can you give some guide of how to use this library to go through the kerber

[2019-01-26 13:42] #225 closed

[2019-01-26 13:42] #226 closed

[2019-01-26 13:42] #240 closed

[2019-01-28 16:51] bodgit opened #258 "Keytab loading from file broken since refactor"
The following code:
[code]
Now triggers a SIGSEGV:
[code]
I think it's since `keytab.Load()` was changed to return a `*keytab.Keytab` instead of `keytab.Keytab` [here](https://github.com/jcmturner/gokrb5/blob/c281e5886158a1d42bd3e73654c7403ae0761e42/keytab/keytab.go#L109), as it now defaults to a `nil` pointer rather than an empty struct, the bug is triggered when you assign to `kt.version` [here]

[2019-01-28 17:02] bodgit commented on #258
Updating `keytab.Load()` to include the following before calling `kt.Unmarshal(b)` fixes it for me:
[code]

[2019-01-28 19:17] jcmturner commented on #258
@bodgit thanks for pointing this out. Will get on it right away.

[2019-01-28 20:47] #258 closed

[2019-01-30 21:30] jcmturner commented on #209
Hi @sjokoladefoged on the AS_REQs can you see in wireshark if they have the preauth PA data. You should find it at...
[code]

If the PA data is there. What is the etype value? Does this value match what is found in the very first AS_REQ that is sent and accepted when you first start the process?

Do you have the machine that this is running on using NTP for time sync?

[2019-01-30 22:11] #205 closed

[2019-01-30 22:24] jcmturner commented on #170
@natxo when using the go client is the first response back from the server a 301 and then after the second request you get a 401? That is, is the sequence?...
[code]

[2019-02-01 12:34] keith6014 opened #262 "webasm"
Is it possible to use gokrb5 with web asm (https://github.com/golang/go/wiki/WebAssembly) ?

[2019-02-01 20:15] natxo commented on #170
@jcmturner indeed, yes, first 301, then 401. I could send you a pcap if you wanted

[2019-02-01 22:03] jcmturner commented on #170
OK I think I'm understanding this a bit more now. The URL you are first visiting is sending a redirect. The gokrb5 client is sending the kerberos ticket on the first request. The web server is adding this to its cache and sending the redirect. The Go http client automatically follows the redirect sending the same header and kerberos ticket again. The web server therefore thinks this is a replay an

[2019-02-04 21:24] sjokoladefoged commented on #209
hi @jcmturner - I hope this is sufficient
![kerb](https://user-images.githubusercontent.com/7021689/52238081-73ee9b00-28cb-11e9-9666-3db98d6da2b9.png)
Those are the requests
---
Time Sync should be here:
![time](https://user-images.githubusercontent.com/7021689/52238116-879a0180-28cb-11e9-9a25-333c62f2b6f9.png)

---

[2019-02-04 22:36] jcmturner commented on #209
@sjokoladefoged this is interesting. For some reasons there are two kRB5-PADATA-ENC-TIMESTAMP entries in the failing request. This does not look right and a something for me to look into. Thanks for providing the info.

[2019-02-05 21:21] jcmturner commented on #209
@sjokoladefoged is there an AS_REQ just before the one that you posted above that gets a  KDC_ERR_PREAUTH_FAILED response from the KDC?

That is you see this order of messages:
AS_REQ
KRB Error: KDC_ERR_PREAUTH_FAILED
AS_REQ

Does the first of these AS_REQs have two kRB5-PADATA-ENC-TIMESTAMP in the PA_DATA?

[2019-02-07 18:36] sjokoladefoged commented on #209
Hi @jcmturner - yea it looks so.
![krb_asreq](https://user-images.githubusercontent.com/7021689/52434460-a7ba0280-2b0f-11e9-8f9c-0bde951e5d1f.png)

[2019-02-07 20:13] jcmturner commented on #209
@sjokoladefoged thanks for the info. I've made a change that will prevent the two kRB5-PADATA-ENC-TIMESTAMP in the PA_DATA. However I don't think this will resolve the problem of the pre-auth failure.

Really struggling to figure out what is going on here.

Is anything changing the password of the account between the time of the very first AS_REQ that works and the later AS_REQs that fail?

[2019-02-08 20:45] jcmturner commented on #170
@natxo I have released the spngeo.Client in v7.1.0

Let me know if this resolve things.

[2019-02-09 08:39] sjokoladefoged commented on #209
Nothing is changing, only thing is the ticket expiring.. If it was a timing issue I assume restarting the issue wouldn't make a difference since the time comes from the host..

[2019-02-09 16:30] natxo commented on #170
@jcmturner ,
after some trial and error (I needed to import the spnego library or I would get an undefined spnego error and the password client required an extra argument, so I needed to modify those settings too):

[code]

but:

$ go run test.go
&{0xc0001b00c0 0xc0000fc000 0xc000011630 0xc00000d580 0xc00000d560}&{401 Unauthorized 401 HTTP/1.1 1 1 map[Server:[Apache/2.4.6 (CentOS) mod_auth_gssapi/

[2019-02-09 17:48] jcmturner commented on #170
Does the err variable from the spnegocl.Do have any information? Could you test if it's nil and if not print it out.

[2019-02-09 19:31] natxo commented on #170
&{0xc0001c20c0 0xc0000fc000 0xc000011630 0xc00000d580 0xc00000d560}panic: nil

goroutine 1 [running]:
main.main()
	/home/user/gokrb/test.go:35 +0x262
exit status 2

[2019-02-10 11:37] jcmturner commented on #170
@natxo I assume that line 35 is the panic inside and if statement checking the err from the spnego.Do?

Are you able to see from tcpdump/wireshark what the flow of interaction is with the web server and what the headers are for these messages? This will help understand what is going on a bit more.

Are you using apache to reverse proxy to another site or application server? Could this be sending t

[2019-02-10 11:49] jcmturner commented on #209
@sjokoladefoged I ran a long running client to double check and I am still unable to recreate your issue.
You can see the client code at https://github.com/jcmturner/gokrb5/blob/master/examples/longRunningClient.go

I am running this against my test KDC which is a docker container run with this command:
[code]
The screenshots below show the AS_REQ that occurs after a long wait for the tickets to e

[2019-02-10 12:51] jcmturner commented on #262
@keith6014 I don't know much about web assembly. What's your use case? have you tried it to see what happens?

[2019-02-10 12:54] #241 closed

[2019-02-12 19:19] natxo commented on #170
@jcmturner ,
no reverse proxy involved.
Could I send you a pcap? I'd rather not post it here, so if you could give me an e-mail address/ or send me one to nasenjo_remove_this@removethis_asenjo.nl I'll send it to you.

[2019-02-12 22:24] ncsurfus opened #268 "Keyring Support"
Does this project support Keyrings as noted here?
https://web.mit.edu/kerberos/krb5-latest/doc/basic/ccache_def.html

KEYRING:user:name - user keyring
KEYRING:persistent:uidnumber - persistent per-UID collection. Unlike the user keyring, this collection survives after the user logs out, until the cache credentials expire. This type of ccache requires support from the kernel; otherwise, it will fal

[2019-02-13 21:08] jcmturner commented on #268
gokrb5 does not interact with the keyring but I did find this library: https://github.com/zalando/go-keyring

Perhaps using this to store the password or keytab would give you what you need?

[2019-02-14 00:21] ncsurfus commented on #268
It looks like the MIT Kerberos implemention relies on a Linux kernel keyring while the go-keyring library uses the gnome keyring. They appear to be different things. I’d like to provide an http client that supports Kerberos / Negotiate, but I’d rather not have some users change their krb5.conf file from the default based keytab+keyring to a keytab+file. Although retrieving the keytab from the keyr

[2019-02-14 14:52] dtaniwaki opened #269 "Weird version tag name"
It seems version [`v7.2.0`](https://github.com/jcmturner/gokrb5/releases/tag/v.7.2.0) has a typo. It is actually `v.7.2.0` instead of `v7.2.0`.

[2019-02-14 20:25] jcmturner commented on #269
thanks for pointing that out, should be fixed now

[2019-02-14 20:25] #269 closed

[2019-02-15 12:49] thda commented on #187
I'll take this as a no. closing

[2019-02-15 12:49] #187 closed

[2019-02-17 03:53] jboelter opened #270 "Use CNAME for SPN"
Thank you for the excellent library. I encountered an issue where the hostname of the http endpoint I'm interacting with is not the same as the SPN. The SPN in this case is something like server.site.example.com that can be discovered through a LookupCNAME of foo.example.com.

It's also not clear that the current implementation will work with an empty spn and non-relative redirects. The Host heade

[2019-02-17 20:25] ncsurfus commented on #268
I haven’t taken a deep dive, but this may be what I’m looking for.
https://github.com/jsipprell/keyctl

[2019-02-23 15:35] jcmturner commented on #268
The library you've found seems to work well. You should be able to load the keytab bytes from the keychain using it and then create the keytab type with:
[code]

It's not in the scope of this library to interact with the keychain. Please let us know how you get on and share any example code...

[2019-02-26 12:48] #268 closed

[2019-02-26 12:55] jcmturner commented on #270
When creating an SPNEGO client you can override the SPN as below with the 3rd argument value:
[code]

Here the SPN is set to ``HTTP/host.test.gokrb5`` so if the service has a different SPN registered than what would be automatically derived from the URL this can be used. For example...

[code]

The spnego.Client was introduced in v7 but the spn argument to the SetSPNEGOHeader in v6 would work the

[2019-02-27 01:10] uynap commented on #247
I had exactly the same situation as lukeo3o1, but in Kafka. The gokrb5 is a great library explaining a lot in communicating with Kerberos. But what after we got the TGS? How to add the ticket to "the client" which requires the Kerberos?
I know it's out of the scope to this library, but without knowing it, the library is pointless in practical. I saw the efforts you spent on SPNEGO. But for one thi

[2019-02-27 05:22] jboelter commented on #270
In this situation the negotiation is happening on a redirect where I don't know the SPN ahead of time depending on the auth provider that the site redirects to (i.e. auth.example.com could also be auth-dev.example.com).

[code]
Is there way to set the correct SPN dynamically during this redirect sequence w/ the current library?

[2019-02-28 11:31] uynap opened #272 "Sasl/Kerberos authentication in Kafka client(sarama)"
The Kafka client libraries for Golang don't support Kerberos. I'm trying to add this feature in the library by using gokrb5.

I did the following steps:
1. Init the sasl handshake with Kafka & nominate GSSAPI as the mechanism.
2. Get the TGS from KDC by using gokrb5.
3. Send the TGS to Kafka.
4. Start normal Kafka requests.

I got errors during the step 3. It seems the "bytes" I send back to the K

[2019-03-08 21:35] TobiasKarnat commented on #247
I need this as well for enterprise use: I wrote a program to synchronize ldap-group members with local linux group users.
As sssd with krb5 is already used, I would not need a technical user to authorize with the active directory server, but could you the computer account to authorize?!

[2019-03-09 13:35] jcmturner commented on #270
So if I have understood this correctly there are two things going on:
1) HTTP redirecting
2) CNAME resolution where the SPN is the A-record not the CNAME value.

Is this the case?
If so I think you are right that the ``net.LookupCNAME`` logic is needed in the SetSPNEGOHeader.

[2019-03-09 23:51] st-korn opened #273 "How can i get email address of authorized AD user?"
Among the fields returned by the kerberos server, email None.
Perhaps you need to perform another request to get the details of an authorized user?

[2019-03-10 22:14] jcmturner commented on #273
I assume you are using Microsoft Active Directory which adds additional details to the kerberos tickets in the PAC. The PAC contains a number of entries. The main on is the [KERB_VALIDATION_INFO](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-pac/69e86ccc-85e3-41b9-b514-7d969cd0ed73).  The email address is unfortunately _not_ one of the KERB_VALIDATION_INFO values.

There is anoth

[2019-03-10 22:33] jcmturner commented on #270
I have updated and released v7.2.1 which should address this. The solution is very similar to the code you first posted. The correct behaviour is to use the underlying canonical name. The SPN value still can be overridden if needs be when creating the spnego client.

Let me know if this works for you so this issue can be closed.

[2019-03-10 22:34] st-korn commented on #273
Yes, i use `spnego.SPNEGOKRB5Authenticate` handler wrapper.

How hard is it to add a feature requesting information (attributes) about an Active Directory user using .keytab? I am ready to donate for add this feature in your open source project.

I found other opensource solutions to do this on golang, but they all create a new Active Directory session using the domain user’s login/password. This

[2019-03-13 22:28] jcmturner opened #275 "Service setting KeytabPrincipal does not work"
Using the KeytabPrincipal service setting does not work. The principal name used to look up a key in the keytab is not the value specified in this setting. For example when using as below:

[code]

This is because the value provided in this setting is not being passed in this line:
https://github.com/jcmturner/gokrb5/blob/50a61c6f2226f37d6d94824c20942f1c7e06a2e3/messages/APReq.go#L181

[2019-03-18 18:34] cloudsystema opened #276 "invalid memory address or nil pointer dereference"
Hi, I am getting below error when running against http sites which are working well with Kerberos via Chrome or Safari. My test client is same as httpClient under examples.
any help appreciated.

panic: runtime error: invalid memory address or nil pointer dereference [recovered]
        panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x50 pc

[2019-03-21 09:42] srinathgs commented on #276
I have observed this as well. work around is by using a client on which `Login` method is not called.

[2019-03-21 13:12] jcmturner commented on #276
I think the issue here is this line...

https://github.com/jcmturner/gokrb5/blob/50a61c6f2226f37d6d94824c20942f1c7e06a2e3/client/client.go#L120

The krberr can sometimes be nil but this is not being checked before this evaluation. Should be a quick fix.

[2019-03-21 14:59] jcmturner commented on #209
The issue may be in this line here and the logic used when a kvno of zero is used as an argument to this function:
https://github.com/jcmturner/gokrb5/blob/50a61c6f2226f37d6d94824c20942f1c7e06a2e3/client/client.go#L118

Can you give me the output of the following performed agains the keytab you are using?
[code]

[2019-03-21 15:50] cloudsystema commented on #276
@jcmturner Thanks a lot for the quick response, looking froward to the fix.
I am a newbie in Kerberos and may not know what I am doing :)
I am not sure if you can help me with my issues. Feel free to ignore though.
Problem I am having is that on a Linux machine RH6 I am getting a correct response by using
`curl --negotiate -u : <internal website address>`

but getting this error when using gokrb5:

[2019-03-21 18:22] cloudsystema commented on #276
Sorry, never mind, I got it working...
I had a wrong name for SPN.
I like this very much, works great!
Thank you.

[2019-03-22 15:25] #270 closed

[2019-03-22 17:04] cloudsystema commented on #276
Thank you @jcmturner !
just fyi, this error null pointer is coming up for me when I explicitly use the client password and not when use the keytab file. I guess the fix makes sense then. I will try to reproduce with current code and new fix.

One more question. When using keytab I realize that kvno number is important. And that I need to create a keytab file with correct kvno number. Is there a wa

[2019-03-22 17:16] #276 closed

[2019-03-22 17:18] jcmturner commented on #276
Release 7.2.2 should have addressed this.

[2019-03-28 20:49] sjokoladefoged commented on #209
@jcmturner sorry for the long wait, Sadly I don't have any details anymore as my last day there was 18th of February and another solution was found.
I don't see any major differences between your long running client and what was done back then - except that it was based on your http example.

[2019-04-11 14:23] NogerbekNurzhan opened #278 "OID of MechToken does not match the first in the MechTypeList?"
Hello! I am little bit confused and need some advice.

In my `Golang` (version `go1.11.5 linux/amd64`) application I am trying to use this library to create SSO (single sign on) authorization by `Kerberos` and `Active Directory`.

I have several things:
1) `SPN` name for my microservice.
2) `krb5.keytab` for my microservice.
3)  `krb5.conf` file for kerberos client where I set `REALM` and `KDC` in

[2019-04-12 04:20] shanmugh commented on #278
`spnego.SPNEGOKRB5Authenticate` only accepts OIDSPNEGO whose MechType is `1.3.6.1.5.5.2`
https://github.com/jcmturner/gokrb5/blob/master/gssapi/gssapi.go#L122-L128

The default OID token generated by curl on Linux is of MechType OIDKRB5 (`1.2.840.113554.1.2.2`).

I had to use the credential cache to generate a suitable OID token to satisfy the requirement. It will be great if the library can suppo

[2019-04-12 04:27] shanmugh opened #279 "spnego.SPNEGOKRB5Authenticate overwrites the request context"
In the code on HEAD `spnego.SPNEGOKRB5Authenticate` seems to be overwriting the request context, which can be painful if the context is already populated by the routers with URL params etc.

Relevant code: https://github.com/jcmturner/gokrb5/blob/master/spnego/http.go#L240-L243

[2019-04-12 04:34] NogerbekNurzhan commented on #278
The problem was solved only by changing the code in the file:

`gopkg.in\jsmturner\gokrb5.v7\spnego\negotianToken.go`

**Before**:
[code]

**After**:
[code]

As you can see it's not elegant way. Do you have any ideas about this situation?

[2019-04-12 05:04] NogerbekNurzhan commented on #278
@shanmugh Hello! Thank you for your answer. I am little bit confused. As I understand you correctly, you recommend to cancel the `SPNEGOKRB5Authenticate` function, right? Instead of that function you recommend to use `cache`, right?

[2019-04-12 05:59] NogerbekNurzhan commented on #278
I also notice that if I make request to the route from client application it raise error: `HTTP 401 Unauthorized`.

[2019-04-13 13:33] jcmturner commented on #279
Released in v7.2.3

[2019-04-13 13:33] #279 closed

[2019-04-21 17:46] jboelter commented on #270
Finally had a chance to come back to this -- works perfectly. Thank you for the fix. The fallback to hostname if the CNAME lookup fails looks good.

[2019-05-01 12:48] aleproust opened #283 "Transport connection broken when uploading file"
Hello,
First, thanks for the kerberos authentication library.
I use it to on client side and I have no problem to authenticate.

My issue is more when I want to upload a file. An http error occurs and I don't really know where it comes from. It works well when I process a GET on the same path.

[code]

Error
[code]

It works well when uploading EMPTY files

When I process it via curl, on the same

[2019-05-02 17:55] jake-scott opened #285 "Config reader doesn't support comments at the end of a line"
The MIT profile parser (which includes parsing krb5.conf) supports comments on the end of lines (although admittedly this doesn't appear to be documented).  We use this as such :

[code]

The gokrb5 parser only supports the (documented) comment format -- ie. as the only thing on a line.

The fix is very simple - let me know if this is acceptable and I'll submit a PR.

[2019-05-02 17:58] jake-scott opened #286 "IPv6 addresses removed by KDC result in a TGSRep validation error"
Our AD DCs strip IPv6 addresses that gokrb5 inserts the TGSReq messages, when it generates the TGSRep.  This causes a validation error.

I propose a fix that provides a new config option (IPv4Only) which prevents gokrb5 from populating  requests with IPv6 addresses.

I have this working in dev;  is this sounds acceptable I'll submit a PR.

[2019-05-03 22:37] jake-scott commented on #285
After further investigation, MIT Kerberos actually only supports this on lines that specify hostnames like the kdc entries in the previous comment.  The code removes any space plus anything following, from the end of the hostname.

This diff seems to do the trick:
[code]

[2019-05-05 10:56] jcmturner commented on #278
@NogerbekNurzhan can you provide some more details on the client you are using?

The lines you have quoted from ``gokrb5.v7\spnego\negotianToken.go`` are there to implement in accordance to RFC4178. The RFC states that the initial negotiation message can optionally contain the initial mechanism token for the preferred mechanism of the client.

However looking at the ``Verify()`` method I think the

[2019-05-05 13:40] jcmturner commented on #283
@aleproust I'm not sure what the issue is here. There is a test for upload:

https://github.com/jcmturner/gokrb5/blob/7b6b2f54b7fda31a47cd7e68ca8485dedeb0e1ed/spnego/http_test.go#L250

To troubleshoot can you get a tcpdump when using your client and when using curl and compare?

[2019-05-06 06:27] jcmturner commented on #285
@jake-scott thanks for looking into this. It makes sense to me to have consistent behaviour with the MIT parser and there seems to be no downside to this solution. Would you be happy to submit a PR wit this improvement?

[2019-05-06 07:50] jcmturner commented on #286
I'd prefer to keep the configuration consistent to the MIT krb5.conf definition. Does it work for you if you set the NoAddresses to true?

[2019-05-06 18:58] aleproust commented on #283
Hello,
On our side we did tests to compare, bellow the results.

With curl:
[code]
With gokrb5:
[code]

We can see that there no body into the PUT sent after the negotiate

[2019-05-06 22:01] donatello opened #288 "Allow access to a ticket's encrypted contents for the verifying party"
A service verifying a service ticket should have access to the actual expiry time present in the encrypted portion of the ticket for application specific purposes.

This can be done by passing a pointer to APReq to `service.VerifyAPREQ`. This way the populated encrypted contents of the ticket are available when the call returns.

The specific application situation here, is that in Minio server, we

[2019-05-07 19:26] jcmturner commented on #288
@donatello thank you for raising this issue and clearly describing the use case. As this would be a breaking change to the API it will need to be a major version release. This may take some time to get released. In the meantime can I suggest doing the following with v7.

1. Verify the APREQ with ``service.VerifyAPREQ``
2. Decrypt the ticket within the APREQ:
[code]

[2019-05-08 19:22] jcmturner opened #289 "Support client sessions for SPNEGO"
Add functionality to the SPNEGOKRB5Authenticate http handler wrapper that will enable a session handler to be passed in. The aim is so that clients can establish sessions and not have to authenticate on every call.

[2019-05-18 06:42] jcmturner commented on #283
Hi, I think I have resolved this in v7.2.4

Please let me know if this fixes things for you.

[2019-05-22 20:08] BryceDFisher commented on #278
@jcmturner I'm having the same problem.  It appears that when authenticating from a browser with a Microsoft Server 2016 domain controller, the first MechType is the `gssapi.OIDMSLegacyKRB5`, but for some reason the `KRB5Token.OID` is unmarshalling as the `gssapi.OIDKRB5` mech type.

Looking at the implementation of those types, it looks like they might be able to be used interchangeably?

[2019-05-24 17:28] slasyz commented on #278
I'm having the same problem as @NogerbekNurzhan and @BryceDFisher.

RFC4178 states:

So, if I understand it correctly, sending negotiation token with negstate=request-mic is not implemented in `spnego.SPNEGOKRB5Authenticate`. My current solution is to check message of status returned by `nego.AcceptSecContext(&st)` in handler, and if it is equal to `"OID of MechToken does not match the first in th

[2019-05-31 15:49] jcmturner commented on #283
@aleproust are you able to confirm if v7.2.4 fixes your issue?

[2019-05-31 16:04] #209 closed

[2019-05-31 16:04] #262 closed

[2019-05-31 16:07] jcmturner commented on #286
@jake-scott does it work if you set NoAddresses to true?

[2019-06-09 22:08] mikenolt commented on #186
I know this issue is closed but I am having the same issue so thought I would add a comment to this rather than open a new one (can/will open a new one if needed).

Like I said, I have the same issue (looking for etpye 18 - I am using 23) but I cannot modify the krb5.conf file and if I try adding an entry for 18 (aes256) to the keytab, I now get an error that says...
kinit: Preauthentication faile

[2019-06-10 01:03] mikenolt opened #294 "Encrypting error - trying to use aes256 instead of rc4-hmac"
I am having the same issue as #186 - it is looking for etype 18 (aes256) but I am using 23 (rc4-hmac). I left a comment on that issue but you probably aren't going to see it since it is closed so am opening a new one.

Here is the full error:
`
Error on AS_REQ: [Root cause: Encrypting_Error] KRBMessage_Handling_Error: AS Exchange Error: failed setting AS_REQ PAData for pre-authentication required

[2019-06-10 10:54] jcmturner commented on #294
Hi @mikenolt

I see you have added the aes256 value to the keytab with a kvno of zero. I can understand why you have done this given the first error message but I don't think this will be the right value. The kvno is the version of the password for that user in the directory so every time the password is changed the kvno increments. Therefore it will not be zero. Can you try removing the kvno=0 en

[2019-06-10 10:57] jcmturner commented on #286
@jake-scott I'm going to close this issue. Please re-open if you wish to continue discussing.

[2019-06-10 10:57] #286 closed

[2019-06-10 12:38] mikenolt commented on #294
Thanks for the quick response @jcmturner!

I had tried using kvno 1 before and got another error so tried using 0 like in the error. I just added it with 1 (add_entry -password -p redacted@redacted -k 1 -e aes256-cts-hmac-sha1-96) and get the same error:
kinit: Preauthentication failure while getting initial credentials

And get this error when trying to run the program:
Error on AS_REQ: [Root cau

[2019-06-10 12:50] jcmturner commented on #294
Is your client time synced with ntp?

Are you able to get a wireshark trace during this?

[2019-06-10 12:56] jcmturner commented on #289
Will likely require a major version iteration as the credentials struct will need to be serialisable. This requires a change to the goidentity.Identity interface.

[2019-06-10 13:11] mikenolt commented on #294
Yes, the node is syncing with ntp but no, I cannot get a wireshark trace. Company policy won't allow that.

I might be able to ask someone on the networking side to look at it if I know what I'm looking for.

[2019-06-10 13:31] jcmturner commented on #294
For reference the flow for pre-authentication is...

1) Client sends AS_REQ to kerberos server (KDC). This includes a definition of which enctypes the client can support (taken from the krb5.conf). In this case you are showing you support 18.
2) KDC responds with error stating pre-authentication is required and which enctype to use (selected from those the client can support). It is selecting 18 a

[2019-06-10 13:47] mikenolt commented on #294
Thanks for the details on the flow.

I am new to kerberos so sorry if some things I am saying don't make a lot of sense initially...

What I was trying to say is when I run the go program, I get the encrypting error. If I try adding anything to the keytab, kerberos will not work at all (gets the preauthentication failure.) Kerberos only works (I verify it is working or not by doing an -ls on HDFS)

[2019-06-10 13:51] mikenolt commented on #294
And, maybe a rookie question but why would the client say it supports 18 when the only thing in the keytab is rc4-hmac? Is that because 18/aes256 is the first thing in the default enctypes strings in the krb5.conf file? Is there a way to tell the client to send rc4-hmac instead of aes256?

[2019-06-10 18:52] mikenolt commented on #294
I am wondering if maybe I am doing something else wrong. I got (most of) the code below from [https://github.com/colinmarc/hdfs/issues/175](url)

Does it look okay to you? Seems right to me, just wanted to be sure.

`

    func getkrbClient() (*krbclient.Client, error) {
       configPath := os.Getenv("KRB5_CONFIG")
       if configPath == "" {
           configPath = "/etc/krb5.conf"
       }

[2019-06-11 09:20] jcmturner commented on #294
@mikenolt, you're not asking rookie questions.

I see from this code that you must be using an older version of gokrb5. Can you update to v7 as it will make things easier to investigate.
This will change these lines:
[code]
which become just the following under v7
[code]

Are you using Active Directory as you kerberos server?

If so then I would create the client with an additional option:
[code]

[2019-06-11 09:23] jcmturner opened #295 "Log if client config specifies enctypes which are not present in the keytab"
When creating a client it would be useful to warn if the krb5.conf specifies enctypes to use but the keytab does not have the corresponding entries.

[2019-06-11 12:56] mikenolt commented on #294
The colinmarc hdfs client I am trying to use requires krb5.v5 (and rpc v.0) which is why I am using that version.

Just for trying to figure this out, I downloaded krb5.v7 and rpc.1. Still get the same error:

`Error on AS_REQ: [Root cause: Encrypting_Error] KRBMessage_Handling_Error: AS Exchange Error: failed setting AS_REQ PAData for pre-authentication required < Encrypting_Error: error getting

[2019-06-11 13:32] mikenolt commented on #294
By the way, I was able to (sort of) get things working with v5 by using the credentials cache file. I say sort of because I connect now (as far as I can tell) but hit another [issue](https://github.com/colinmarc/hdfs/issues/144) when trying to use the hdfs client.

I know this isn't the right way to do it, I just wanted to see for myself that it would actually work when we get things right.

Here

[2019-06-11 19:58] mikenolt commented on #294
FYI, I used the workaround (modifying kerberos.go and namenode.go) provided in the link for the issue above and verified that I am in fact connecting to HDFS (without calling Login()) and can list the directory contents.

Just need to get it working without using the ccache file.

[2019-06-12 10:36] jcmturner opened #296 "client.Key function should also return the kvno"
The client.Key() function should return the knvo.

This would enable it to be used when calling crypto.GetEncryptedData to set the right value in the encrypted data structure sent over the wire.

Most KDC implementations seem to ignore the kvno field so it does not seem to matter for now. However this behaviour would be more correct.

This can then enable the TODO for this line to be addressed:
ht

[2019-06-12 10:39] jcmturner commented on #294
When you did this did you add the entry to the keytab using the aes256 enctype and try it?

[2019-06-12 12:23] mikenolt commented on #294
No. As previously stated, Kerberos doesn't work at all (gets a preauthentication error) if there is anything other than rc4-hmac in the keytab. I need a way to make the krb5 client use rc4-hmac instead of aes256.

[2019-06-12 12:45] jcmturner commented on #294
To do this you need to take a copy of the krb5.conf, edit it to remove the references to ``aes256-cts-hmac-sha1-96`` and ``aes128-cts-hmac-sha1-96`` and then use this where you load the config...

[code]

[2019-06-12 13:16] mikenolt commented on #294
Okay, tried that, still doesn't work.

Copied the krb5.conf to local directory and changed these lines:
  default_tgs_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96 arcfour-hmac-md5
  default_tkt_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96 arcfour-hmac-md5
  permitted_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96 arcfour-hmac-md5

To:
  default_tgs_enctypes

[2019-06-13 01:59] dantangfan commented on #294
hi @jcmturner , I wonder if it's possible to add some weak crypto, such as des-cbc-crc/des3-hmac-sha1？For our KDC was build at early 2012, and doesn't support all the 5 cryptos listed on README page~ thanks

[2019-06-13 13:08] jcmturner commented on #295
The proposal is to introduce a client.Diagnostics() method that would perform the following checks:

* Check the enctypes configured in the krb5.conf sections (default_tgs_enctypes, default_tkt_enctypes, permitted_enctypes, preferred_preauth_types)
  * If the client has been created with a keytab, check if there is an entry in the keytab for each of these enctypes.
  * Check that all the enctypes

[2019-06-15 13:51] #285 closed

[2019-06-15 14:36] jcmturner commented on #283
@aleproust I assume this is resolved for you so I'm going to close this issue. Let me know if this is not resolved.

[2019-06-15 14:36] #283 closed

[2019-06-15 19:24] jcmturner commented on #288
I have merged your PR into the branch that will become v8 (draft-v8).

[2019-06-15 19:30] mikenolt commented on #294
@jcmturner Any thoughts on the above? Is there anything else I can do/try to get things working?

[2019-06-24 15:44] miekg opened #306 "Move test/testenv to its own repository?"
Hi,

Thanks for this package. I was wondering about the following. The test, testenv directories carry a whole bunch of tar files making this a pretty big repository to pull down. Would it be possible to move test, testenv to its own repo?

I can see benefits for you as a developer to keep it all together, so I understand if you just want to batch it all together.

[2019-07-21 08:25] jcmturner opened #307 "Possible incorrect breaks"
The following may be incorrect use of break in the code:

Breaking the switch statement not the for loop:

https://github.com/jcmturner/gokrb5/blob/363118e62befa8a14ff01031c025026077fe5d6d/client/ASExchange.go#L173

---

This line breaks the switch
https://github.com/jcmturner/gokrb5/blob/363118e62befa8a14ff01031c025026077fe5d6d/crypto/rfc8009/keyDerivation.go#L47
but this one breaks the for loop

[2019-07-26 20:44] faec opened #308 "Dependency on unlicensed / undocumented gofork"
This library depends on `github.com/jcmturner/gofork` in a couple places:

- `"github.com/jcmturner/gofork/encoding/asn1"` in `asn1tools/tools.go`
- `"github.com/jcmturner/gofork/x/crypto/pbkdf2"` in `crypto/rfc3962/keyDerivation.go`

However that repository has no specified license (except the `LICENSE` file which says it's by the go authors, which seems inaccurate) and I can't find a reason thes

[2019-07-27 20:08] jcmturner commented on #308
The gofork is a fork of some of the standard library packages where updates have been needed to enable gokrb5 to work. This is why the license has been copied from there.
Details of the updates can be found in the "Known Issues" table at the bottom of the gokrb5 readme. In most cases an issue or PR has been raised against the Go source to have these addressed in the standard library.

[2019-07-27 20:08] #308 closed

[2019-07-30 01:07] keith6014 opened #309 "keytab and SPN"
Great library! So great I think I am going to run my web application directly in Go instead of HAproxy!

In a windows environment, I registered the SPN with service account "foo", but I am clueless on how to setup the keytab.

My question are 1) what is the preferred tool to use to create keytab? 2) In my keytab file, what do I need? I am guessing an entry with "foo" credentials and another entry

[2019-08-07 16:20] bwmarrin commented on #309
I'm in the same boat here, I've in the past used Apache to handle Kerberos auth for web applications in Active Directory environments.

I'd really love to switch to this library and remove the dependency on Apache to handle the Kerberos auth.

I've build a half working example from the examples in this repo but I'm not getting things working.

Is there a ELI5 howto guide on what needs done to buil

[2019-08-07 16:58] bwmarrin opened #310 "explicitly tagged member didn't match"
I'm trying to build a web service where the enduser can login via their Active Directory credentials.

I've started with the httpServer.go example, and modified it to use a keytab I generated on the domain controller.

When I try to access the site via Chrome, it does ask for me to enter my username/password and after that I get the below error message from the Go web service.

[code]

I noticed s

[2019-08-07 19:45] bwmarrin commented on #310
Okay, so I've made some progress.

I added the site I'm connecting to as a intranet site in the Internet Options security tab.  I figured this would be needed for it to work without prompting, but when doing this same thing using Apache, it works with prompting even without the site listed here.

This got me past this error, and I slammed right into another error :

[code]

Looks like there's an e

[2019-08-07 19:56] bwmarrin commented on #278
I'm also having the same issue.

I setup an example based on the httpServer.go example, I just swapped in a keytab file I generated on the AD server.

My AD server is Windows Server 2019 Core

Then I added the url of this test site to my "Local intranet" listing.

Open the site up with Google Chrome and I get the below error.

[code]

As a quick dirty test, I commented out https://github.com/jcmtu

[2019-08-08 08:30] yzpnet opened #311 "got KDC_ERR_C_PRINCIPAL_UNKNOWN error"
Kerberos client error: [Root cause: KDC_Error] KDC_Error: AS Exchange Error: kerberos error response from KDC: KRB Error: (6) KDC_ERR_C_PRINCIPAL_UNKNOWN Client not found in Kerberos database - CLIENT_NOT_FOUND

[2019-08-08 08:56] yzpnet commented on #311
Kerberos client error: [Root cause: KDC_Error] KDC_Error: AS Exchange Error: kerberos error response from KDC: KRB Error: (14) KDC_ERR_ETYPE_NOSUPP KDC has no support for encryption type - BAD_ENCRYPTION_TYPE

[2019-08-08 08:59] yzpnet commented on #311
client/metadata got error from broker -1 while fetching metadata: [Root cause: KDC_Error] KDC_Error: AS Exchange Error: kerberos error response from KDC: KRB Error: (14) KDC_ERR_ETYPE_NOSUPP KDC has no support for encryption type - BAD_ENCRYPTION_TYPE

[2019-08-08 09:29] yzpnet commented on #311
KDC_ERR_S_PRINCIPAL_UNKNOWN Server not found in Kerberos database - UNKNOWN_SERVER

[2019-08-08 10:49] yzpnet commented on #311
Exchange Error: kerberos error response from KDC: KRB Error: (6) KDC_ERR_C_PRINCIPAL_UNKNOWN Client not found in Kerberos database - CLIENT_NOT_FOUND

[2019-08-08 11:36] yzpnet opened #312 "CLIENT_NOT_FOUND"
GOKRB5 Client: 2019/08/08 19:35:35 could not login client: [Root cause: KDC_Error] KDC_Error: AS Exchange Error: kerberos error response from KDC: KRB Error: (6) KDC_ERR_C_PRINCIPAL_UNKNOWN Client not found in Kerberos database - CLIENT_NOT_FOUND

[2019-08-08 11:42] yzpnet opened #313 "kerberos plaintext auth"
How to use kerberos plaintext auth.

[2019-08-08 11:43] yzpnet commented on #313
kerberos plaintext auth is useful.

[2019-08-08 12:31] bwmarrin commented on #313
I'd like to have plaintext auth too :)

[2019-08-08 12:32] bwmarrin commented on #312
If you could add some context on what works, what doesn't, what your setup is, etc... when or how you run into this error - then people might be able to help more.

[2019-08-08 13:25] bwmarrin opened #314 "Non http Handler version of SPNEGOKRB5Authenticate"
Is there a way to perform the functions that SPNEGOKRB5Authenticate as a normal function rather than a http handler wrapper?

That would return a struct of the authentication information, or an not authorized error?

It would be pretty handy and add more flexibility to how this library is used and mixed in with web services wrote in Go.

If there's not a way to do this now, I'd be happy to PR in a

[2019-08-08 13:30] bwmarrin commented on #314
The above question could be a bit of an xyproblem..

What I'd like to be able to accomplish immediately, is have more control over how unauthenticated sessions are handled.  If kerberos fails, I'd like to implement fallback options.  So far I've been testing with the httpServer.go example and it seems to just send "Unauthorized" to the client and not pass the request down the stack.

So if either

[2019-08-09 06:10] yzpnet commented on #313
Why not to develop this function

[2019-08-12 08:21] wjcaitu opened #315 "udp_preference_limit max value 32700"
Hi,
Why the max value udp_preference_limit is 32700?  when i check MIT document https://web.mit.edu/kerberos/krb5-latest/doc/admin/conf_files/krb5_conf.html#realms, no definition of max value for this parameter is provided. When i set this value to 1000000, the codes report "error processing libdefaults section line (udp_preference_limit = 1000000)"

[2019-08-14 00:20] keith6014 commented on #309
@bwmarrin
thannks.
How did you determine your crypto type, AES256-SHA1?
Also, you have any sample golang code which uses SPN? I haven't tried so far.

[2019-08-14 13:38] bwmarrin commented on #309
I ended up switching from AES256-SHA1 to "All" because I had some issues later on.  Using "All" just embeds all crypto options within the key, so whatever form the browser sends you'll have a corresponding match in the SPN file.

[code]
I build a test starting with https://github.com/jcmturner/gokrb5/blob/master/examples/httpServer.go

I just swapped out the section where it uses the test keytab f

[2019-08-19 14:45] 29x10 opened #316 "NewClientWithKeyTab fails with SPNEGO"
It works for NewClientWithPassword but fails with NewClientWithKeytab

[code]

klist -k /path/to/keytab
[code]

How to diagnose errors?

[2019-08-20 02:18] 29x10 commented on #316
NewClientWithKeytab username argument should be username/hostname instead of username

[2019-08-20 02:18] #316 closed

[2019-08-20 03:07] 29x10 opened #317 "unsupported EType error"
I am using ticket cache to authenticate with SPNEGO server

Here is my code
[code]

could not initialize context: [Root cause: Encrypting_Error] KRBMessage_Handling_Error: TGS Exchange Error: failed to generate a new TGS_REQ < Encrypting_Error: error getting etype to encrypt authenticator: unknown or unsupported EType: 1

`klist -e`
[code]

I saw that `aes128-cts-hmac-sha1-96` is supported.

[2019-08-29 17:57] cstivers78 opened #318 "Please add `validUntil` accessor for credentials.Credentials"
In prior versions of the API, `credentials.Credentials` exposed `validUntil`. We need this for a use case, so we need it accessible via something like `ValidUntil()`.

[2019-09-06 11:24] samirkut commented on #130
Was this ever merged? I am seeing an error with domain trust where I get a referral and this could perhaps explain it.

[2019-09-15 17:07] bwmarrin commented on #278
@jcmturner just checking if you've had time to review any of this? It seems you've been off the radar for a bit in terms of this repo - which I understand that life gets in the way.  However, without a fix to this here I'll need to fork and apply changes to my own copy of this package and that's something I'd rather not do :)

[2019-10-08 19:45] cjconrad2 opened #321 "Issue with referral to sub realms"
We have a realm like `foo.com` with a client in that realm, say `client@foo.com`. Additionally, we have a sub realm `sub.foo.com` with a service principal in that realm, say `serviceA.sub.foo.com`.

When the client tries to obtain a service ticket for serviceA from the KDC at `foo.com`, it is issued a referral ticket to `sub.foo.com` where the service is located. The code in `client.TGSExchange(..

[2019-10-11 13:18] filipework opened #323 "ChangePasswd with client password"
I'm creating a client token with password without error. But my objective is change the password of a user periodically.

But when I tried to change the user password using the ChangePasswd function, I received a empty error like:

panic: error response from kdamin:

is it possible to change the password using a client token created with password?

[code]

[2019-10-17 06:59] ghost opened #324 "配置多个KDC服务器不生效"
我在 gopkg.in/jcmturner/gokrb5.v7/client/network.go 的文件中发现 func dialKDCUDP(count int, kdcs map[int]string) (*net.UDPConn, error) 函数和 func dialKDCTCP(count int, kdcs map[int]string) (*net.TCPConn, error) 函数并不能解决多个KDC服务器冗余的问题，主要是因为函数中的代码段在遇到err返回值不为nil时就 return 了函数，导致即使使用了for循环也无法再调用下一个KDC服务器地址进行连接尝试

[2019-10-20 12:12] keith6014 commented on #278
@jcmturner . Wondering if you had time to review this? I too am in the same situation.

[2019-10-23 20:13] vitesse-ftian opened #326 "Move away from gopkg.in?"
go get will hang, for a long time, time out, eventually fail to install.

[code]

This is a gopkg.in issue, as the following will work
[code]

For all I can see, gokpg.in creates more problems than it solves -- is it possible to move off gopkg.in?

[2019-10-24 08:46] jgiannuzzi commented on #278
If anyone is interested, I have made fixes for these two issues
- raw KRB5Tokens (as reported by @shanmugh [here](https://github.com/jcmturner/gokrb5/issues/278#issuecomment-482431731)): PR #299
- compatibility with recent Windows (as reported by @NogerbekNurzhan, @BryceDFisher, @slasyz, and @bwmarrin): PR #325

I have made a branch with both fixes: https://github.com/jgiannuzzi/gokrb5/tree/compat

[2019-10-31 07:35] jizhipeng969699 opened #327 "Download fatal"
go get -d gopkg.in/jcmturner/gokrb5.v7/...
i want download this pkg
but why download fatal

[2019-10-31 10:27] MisterSpicy opened #328 "[Question] HTTP SPNEGO Authentication after kinit"
This is a Question, and not an "issue".

I'm on OSX, and am attempting to write a CLI to operate on a Kerberos enabled Hadoop cluster.  I'm able to access the API through `curl --negotiate -u : <yadda>` after a typical `kinit`, but I can't seem to figure out how to accomplish the same thing using this library.

It seems to use the SPNEGO client I need to create either new credential with passcode,

[2019-10-31 23:01] MisterSpicy commented on #328
From https://github.com/jcmturner/gokrb5/blob/master/client/client.go#L31

The comment mentions that setting the realm to empty string pulls the realm from the default config.  I do not see anywhere that this actually happens though, and passing empty string throws an error instead.

[2019-11-06 20:24] tyrannosaurus-becks opened #330 "SPNEGOKRB5Authenticate doesn't respect given service.KeytabPrincipal"
I may be using this library incorrectly, but it appears that the `SPNEGOKRB5Authenticate` function doesn't respect the `service.KeytabPrincipal` given. Please let me know if I should be using the library differently. Thank you in advance for all your work on this library!

## Steps to reproduce
1. Add the following test to `spnego/http_test.go`:
[code]
2. On running the test, observe that the foll

[2019-11-08 02:31] mappu commented on #328
The password (or equivalent-ish, keytab) have a long expiry and are private knowledge.

But the OS has already prompted for them. At OS login, the OS then gets a TGT. The TGT has a short expiry but the OS will usually periodically refresh it throughout the logon session. You can use the TGT from the OS to avoid prompting for the password/keytab.

You can read the TGT on Linux, macOS, and MIT-Kerbe

[2019-11-08 02:44] MisterSpicy commented on #328
Thanks for the response!

I had considered trying to load the CCache that exists natively on OSX, but it by default uses KCM/API and not a FILE cache, and thus does not have a path I am aware of I can pass to `credentials.LoadCCache`.  OSX also does not set KRB5CCNAME by default.   I could possibly set it, but if I'm going to work around defaults, I may just use the keytab method.

I believe that

[2019-11-08 21:31] tyrannosaurus-becks opened #332 "If "dns_lookup_kdc" is true, configured kdc is ignored"
Per [MIT's documentation on the kerberos conf](https://web.mit.edu/kerberos/krb5-1.12/doc/admin/conf_files/krb5_conf.html), the "dns_lookup_kdc" field is described as:

I am testing with a krb5.conf file like this:
[code]
I'm finding that "somewhere.matrix.lan" isn't attempted. In looking at the code, I've isolated the issue to [here](https://github.com/jcmturner/gokrb5/blob/master/config/hosts.go

[2019-11-08 22:34] tyrannosaurus-becks opened #334 "In GetEncryptionKey, "t" is never set to now causing expired entries to be used for encryption"
In GetEncryptionKey [here](https://github.com/jcmturner/gokrb5/blob/master/keytab/keytab.go#L62), if a kvno isn't provided but there's a match, as long as the entry's timestamp is after `"t"`, it can be used. However, `"t"` is never set to now, so the time underlying `"t"` defaults to `0001-01-01 00:00:00 +0000 UTC`.

This means that too many entries may match, even ones that expired yesterday.

[2019-11-08 23:33] tyrannosaurus-becks commented on #334
Actually, I looked more closely at the code, and I now realize that `"t"` is being used to search for the most recent matching keytab. My mistake. Nothing further to do here. :-)

[2019-11-08 23:33] #334 closed

[2019-11-11 22:31] tyrannosaurus-becks opened #335 "assumepreauthentication is false after it's set to true"
It appears that the `client.AssumePreAuthentication(true)` should result in a client with a setting that assumes preauthentication; however, the resulting client still has assume preauthentication set to false.

## Steps to Reproduce

Copy and paste the following test into any `_test.go` file inside the `client` package:
[code]
Running the test results in the following output:
[code]

[2019-11-14 16:17] dreampuf opened #337 "Provide an implement of https://godoc.org/golang.org/x/crypto/ssh#GSSAPIClient"
I checked the `Mechanism` Interface introduced the full definition of https://godoc.org/golang.org/x/crypto/ssh#GSSAPIClient. But I don't find the implementation. Any roadmap on it or suggestion on it? I'm not familiar with krb5 and GSSAPI, but I have done some searching.
Base on another lib ([sshgssapi](https://github.com/nhywieza/sshgssapi/blob/master/client.go)) which depends on [gssapi](https:

[2019-11-15 17:08] L11R commented on #289
@jcmturner thanks for the library. Are there any news on this enhancement? KDC is blocking me for too many ticket requests.

[2019-11-15 18:02] L11R commented on #289
I made PR #338 with draft solution to understand better my issue.

[2019-11-18 13:26] Halimao commented on #326
+1, meet the same issue

[2019-11-20 17:15] tyrannosaurus-becks opened #339 "Potential panic in keytab/keytab.go"
On my fork, using fuzzing we're able to gain a panic with the following stacktrace:
[code]
This corresponds with [this line](https://github.com/jcmturner/gokrb5/blob/363118e62befa8a14ff01031c025026077fe5d6d/keytab/keytab.go#L347) on the present master branch of the repo, which holds:
[code]

I have a PR forthcoming to fix it.

[2019-11-20 18:43] tyrannosaurus-becks commented on #339
This wasn't intended to be fixed by the merge of the linked PR, reopening. Needs a fix in this repo too.

[2019-11-23 15:06] jcmturner commented on #326
The v7 of this library does not use Go Modules and relies on the gopkg.in site as part of dependency management. The intention is to adopt Go Modules in the next major version and remove the need for gopkg.in.

[2019-11-23 15:06] #326 closed

[2019-11-23 15:07] jcmturner commented on #327
The v7 of this library does not use Go Modules and relies on the gopkg.in site as part of dependency management. I suspect there was an issue with this site. The intention is to adopt Go Modules in the next major version and remove the need for gopkg.in.

[2019-11-23 15:07] #327 closed

[2019-11-23 15:08] jcmturner commented on #324
Translation:

I found the func dialKDCUDP(count int, kdcs map[int]string) (*net.UDPConn, error) function and func dialKDCTCP(count int, in the file gopkg.in/jcmturner/gokrb5.v7/client/network.go Kdcs map[int]string) (*net.TCPConn, error) The function does not solve the problem of multiple KDC server redundancy, mainly because the code segment in the function returns the function when it encounters

[2019-11-23 15:10] jcmturner commented on #324
Hi, sorry I am not fluent in your language. I believe from Google Translate this is Chinese and the translation it gives me is in my first comment above. If you are able to check this translation for accuracy that would be great. What follows is this comment translated with Google Translate from English into Chinese.

Translation:
嗨，抱歉，我的语言不太流利。我相信Google Translate是中文，它给我的翻译是我的第一反应。如果您能够检查此翻译的准确性，那

[2019-11-23 15:11] jcmturner commented on #312
This message is from the Kerberos server telling you it does not have the user that you are trying to log in as. I would recommend checking your configuration.

[2019-11-23 15:11] #312 closed

[2019-11-23 15:11] jcmturner commented on #313
Sorry can you explain more about what you mean by Kerberos plaintext auth. It is not a term I am familiar with.

[2019-11-23 15:11] jcmturner commented on #311
As @bwmarrin states without further information when submitting issues there is little that can be done to help. If you wish to add more context to enable others to help please add and re-open.

[2019-11-23 15:11] #311 closed

[2019-11-23 15:12] jcmturner commented on #310
Hi, yes I think this is a duplicate of #278 so I’m going to close this one so please follow #278. Thanks.

[2019-11-23 15:12] #310 closed

[2019-11-23 15:13] jcmturner commented on #309
@keith6014 I use ktutil to create keytabs. There is good documentation on line for it. With regards to the values to use these are implementation specific for your kerberos environment. Therefore you will need to speak with the people that run the kerberos servers to know what will work for you. You questions are not specific to the gokrb5 library so I’m going to close this issue. There are lots o

[2019-11-23 15:13] #309 closed

[2019-11-23 15:14] jcmturner commented on #328
@mappu thanks for responding to this. You are right the credentials cache can be one option.
@MisterSpicy there is currently no integration with KCM/API. I am not very familiar with these. Do you have any documentation that could support developing against that?

[2019-11-23 15:18] jcmturner commented on #278
Hi all, sorry for being away for a while. I hope to start looking into this again but it may take me a while to get back up to speed so please be patient. I also need to fix the integration test automation that no longer seems to run.

Thanks for the contributions. I want to make sure that we solve this in the right way with regards to the RFCs etc. Therefore I want to get a good understanding of

[2019-11-23 15:19] jcmturner commented on #335
Hi, thanks for pointing this out and submitting a PR. I’ll take a look and hopefully merge this shortly.  Looks like it was a copy and paste error. The PR looks good so will merge it but I need to fix the integration test automation which no longer seems to be working.

[2019-11-23 15:20] jcmturner commented on #332
Hi, thanks for pointing this out and submitting a PR. I’ll take a look and hopefully merge this shortly. The integration test automation seems to have stopped working so I will need to fix this first.

[2019-11-23 16:19] Halimao commented on #326
OK，glad to hear that｡◕‿◕｡

[2019-11-23 16:42] bwmarrin commented on #278
@jcmturner  phew, that's really great news.  I really didn't want fork this and find myself trying maintaining it - especially since I don't know the RFC as well as you surely do.

I am happy to help with testing or otherwise if it helps.  If you setup a way to donate, I'll happily buy you a beer, or ten.  I know keeping up maintenance on libraries can be very hard to do as life changes.

[2019-11-23 16:48] bwmarrin commented on #310
This is separate from #278

When using Apache Kerberos auth - it will first try the kerberos handshake where you don't have to enter a password.  If that fails, it will fall back to allowing the user to enter their username and password and if correct values are provided, it passes authentication details.

Is it possible to fallback to accepting username/password during authentication attempts whe

[2019-11-23 16:52] bwmarrin commented on #313
I think he's talking about what I was saying in https://github.com/jcmturner/gokrb5/issues/310

When using Kerberos to sign into a web application.  Normally it can fallback to allowing the user to type in their username/password (in plaintext) for authentication in cases where the Negotiate auth doesn't work automatically.

This is how the Apache Kerberos authentication module works, but I'm not

[2019-11-23 16:53] bwmarrin commented on #326
Great to hear :)  Thanks @jcmturner .

[2019-11-23 22:33] MisterSpicy commented on #328
Documentation appears to be pretty sparse - I've resorted to digging to the implementations in libcurl to try and understand how Heimdal (osx's version of krb5) handles it.  If I come across an answer, I'll post it or file a PR.  Thanks for the response!

[2019-11-25 16:35] bwmarrin commented on #314
So, I've been toying around with a solution for this, and I think I've found one.

First step, is to create a new function similar to `SPNEGOKRB5Authenticate`, except instead of it being a middleware wrapper design, make it just a simple function that returns the auth status, kerberos credentials data, and an error.   I also like this because now the kerberos ticket data could be returned as a nor

[2019-11-25 18:03] bwmarrin commented on #314
Okay, I've created a function and example for this.  Let me know your thoughts.

First - add a this (or similar) function to the library
https://github.com/bwmarrin/gokrb5/blob/master/spnego/http.go#L281

Then it can be used as below,
[code]

One area here that could probably still be improved on, is - in this example the keytab is parsed on every request.  Since this is probably a hot-path for an

[2019-11-27 10:53] NogerbekNurzhan commented on #310
@bwmarrin I notice the same error! How you solve it?

[2019-11-27 14:39] bwmarrin commented on #310
@NogerbekNurzhan  check out ticket https://github.com/jcmturner/gokrb5/issues/278 that is tracking this issue.

There is a PR that seems to fix the issue but @jcmturner  hasn't had time yet to test it thoroughly.

I applied the PR to a fork and am using that for now.

[2019-12-04 10:50] duanlei123 commented on #276
下载不下来

[2019-12-06 22:59] dpotapov commented on #323
Facing with the same issue. I've run the debugger and found that the server returns error code 5, which is according to RFC:

[code]

So perhaps the wrong type of TGT gets obtained prior to kadmin call.

and yeah, there is a small typo in `passwd.go` kdamin -> kadmin :-)

[code]

[2020-01-01 15:20] jcmturner commented on #330
Hi, this is a duplicate of #275.

It will require a change to the API and therefore a major version revision.

[2020-01-02 20:25] jcmturner commented on #315
Hi, This value mirrors that used in the MIT kerberos. I thought it best to be consistent with this. See:

https://github.com/krb5/krb5/blob/ac8865a22138ab0c657208c41be8fd6bc7968148/src/lib/krb5/os/sendto_kdc.c#L80

I am not sure of the exact reason for this value but I note it is roughly half the max size of a UDP packet.

[2020-01-02 20:25] #315 closed

[2020-01-02 20:26] jcmturner commented on #313
Will follow up on #314 so closing this one

[2020-01-02 20:26] #313 closed

[2020-01-02 20:26] jcmturner commented on #314
I see you are looking to allow the browser to use basic authentication to send the username password (as in https://tools.ietf.org/html/rfc2617#section-2) or resort to the application to presenting a page for form based authentication.
The challenge is with the initial negotiation. The browser will most often not initially provide an SPNEGO value in the headers until it has received the first 401

[2020-01-02 20:27] jcmturner commented on #317
It looks like the TGT retrieved from the KDC in your case is using AES128_CTS_HMAC_SHA1_96 for the TGT but the session key is using DES_CBC_CRC which is not supported in gokrb5. Check your krb5.conf and what is set for the default_tgs_enctypes field.

[2020-01-02 20:28] jcmturner commented on #318
Closing as PR to address this has been merged into master

[2020-01-02 20:28] #318 closed

[2020-01-02 20:28] jcmturner commented on #323
I think what is needed here is to return more information from the KDC’s reply in the error that the ChangePasswd function returns. For example it could also contain the ResultCode and the KRBError values. That would help troubleshooting. I can also fix the typo ;-)

As for the reason you are getting
KRB5_KPASSWD_ACCESSDENIED        5 requestor not authorized
This could be down to the configuratio

[2020-01-02 20:29] jcmturner commented on #294
Do you have preferred_preauth_types defined in your krb5.conf? Either way can you try when this is configured to be:

[code]

[2020-01-02 20:44] #335 closed

[2020-01-02 20:57] #339 closed

[2020-01-03 19:18] jcmturner commented on #278
Hi all, thanks very much for all your contributions and information. This is has been really helpful!

After reviewing this thread again and the PRs some have been kind enough to send I have put together the following to summarise what I think the position is and how we should proceed.

Firstly there are three issues raised here:
It appears that when using Microsoft Windows 2016 as the AD KDC we s

[2020-01-03 19:23] jcmturner opened #347 "Handle authentication for clients that send a raw KRB5 token not wrapped in SPNEGO"
Some clients such as older versions of curl send raw KRB5 tokens that are not wrapped in SPNEGO tokens.

This issue has been raised to split this issue out from others. Please see the original comments and related PRs below for further details. Please use this issue for further discussion on this.

https://github.com/jcmturner/gokrb5/issues/278#issuecomment-482431731

#281
#299

[2020-01-03 19:25] jcmturner opened #348 "Add support for SPNEGO negotiation state of request-mic"
This issue has been raised to split it out from issue #278.

See this comment for the orignal context:
https://github.com/jcmturner/gokrb5/issues/278#issuecomment-495721043

Please use this issue for further discussion on this matter.

[2020-01-03 19:28] jcmturner commented on #278
From now on I am focusing here on the first issue that arises when using Microsoft Windows Server 2016.

Some background: RFC4178 states that the initial negotiation message can optionally contain the initial mechanism token for the preferred mechanism of the client.
Hence the check at:
https://github.com/jcmturner/gokrb5/blob/039b60d3e315310b951fcad322377f96f0924969/spnego/negotiationToken.go#L17

[2020-01-03 19:38] jcmturner commented on #278
I have raised this question with the Windows community: https://answers.microsoft.com/en-us/windows/forum/windows_other-winapps/bug-in-windows-server-2016-spnego/c67d891c-8786-47f2-bc64-d3a5a85541cf?tm=1578080283730

[2020-01-05 09:53] jcmturner commented on #278
@jgiannuzzi , @BryceDFisher I've just thought that the issue here is probably not with Windows 2016 as the DC. This will just send back Kerberos tickets. It is the client that wraps it up into SPNEGO tokens and therefore the issue is most likely with the client that is being used. I assume you are both using a browser when seeing this issue? Can you comment back with the detail of the browser and

[2020-01-05 10:20] jcmturner commented on #321
closing as PR has been merged. Thanks!

[2020-01-05 10:20] #321 closed

[2020-01-05 10:35] jcmturner commented on #328
@MisterSpicy I'll close this issue. If you find out more information please reopen. thanks

[2020-01-05 10:35] #328 closed

[2020-01-05 11:07] jcmturner commented on #130
An issue with respect to referral was raised in #321 with an associated PR to fix it. I have merged this into master and will be looking to make a new release when some other bug fixes are merged in. I'd suggest testing with this version when it is released to see if this is related and the PR has fixed this.

[2020-01-05 13:10] jcmturner commented on #323
I have merged in some changes to improve the logging and the tests check that you can change passwords with a client made with a password rather than a keytab. Therefore I think the KRB5_KPASSWD_ACCESSDENIED you are getting is due to  configuration on the KDC. I'm therefore going to close this issue.

[2020-01-05 13:10] #323 closed

[2020-01-06 16:14] jgiannuzzi commented on #278
@jcmturner I have seen this issue with Google Chrome, Microsoft Edge, and Internet Explorer 11; all on Windows 10. I unfortunately do not have access to this setup anymore, and thus to the exact versions, but I could try reproducing it in a VM. Let me know if that would be useful.

With regards to the root cause, as per #325, what I observed was that the created tokens would contain the MechToken

[2020-01-06 18:05] jgiannuzzi commented on #347
This issue is fairly easy to reproduce by using the build of cURL bundled in CentOS 6 or 7.

@jcmturner Could you please look at my PR #299 and comment?

[2020-01-06 20:44] jboelter commented on #335
This introduces a regression in clients that mis-used `AssumePreAuthentication()` (I don't recall why).  Suggest a note in the release notes to annotate that change to use `DisablePAFXFAST()` if that's what the caller intended in the first place :)

[code]

[2020-01-07 01:32] bwmarrin commented on #314
Yeah, you're right. It does technically always show the login page.

But if Kerberos works, you'll actually never see the login page because how fast the browser reacts to the 401.  You just end up being logged in.

I've been using a method very similar to my example above now for, well since November on a few apps.  It's working great.   I setup the fall back to use LDAP auth against the domain c

[2020-01-07 02:03] bwmarrin commented on #314
Another solution here, would be to modify (expose) enough of the library so that the SPNEGOKRB5Authenticate method can mostly be remade outside of the library.  Then end-users can implement this on their own.  I looked at what that would take, and it's a handful of items that would have to be exposed.  So I'm not sure if that makes things to messy - and a end using re-implementing that func might

[2020-01-07 04:29] jboelter opened #350 "client.TGSExchange panics in messages.authenticatorKeyUsage on cross-domain requests"
I can consistently reproduce a panic that appears related to authenticating a service in another realm. I can reproduce on both 7.3.0 and master. Examples below are from the git commit below.

[code]

This is only happening when the TGSExchange is called recursively and it appears that the `tgt` passed into `NewTGSReq` isn't correct.  This occurs when the `default_realm` in the krb conf doesn't ma

[2020-01-08 20:42] jcmturner commented on #350
Hi, there was a change merged in the last few days that specifically changed the line (TGSExchange.go line 63) you think is the issue: https://github.com/jcmturner/gokrb5/pull/322

The version of this line you have quoted is the old version. Can you try updating your master branch to get these updates and see if this resolves the issue. I want to rule this out before progressing further. Thanks.

[2020-01-08 22:51] jboelter commented on #350
That does indeed resolve the panic. Thank you.

[2020-01-09 18:00] #350 closed

[2020-01-12 14:51] jcmturner opened #351 "Reuse cached TGT in client if it is still valid"
The ``Client.Login()`` function will always perform an AS exchange for a TGT even if the client already has a valid TGT for the domain.

The consideration here is if this function should just return a cached TGT if it has one or if it should be left to the caller to decide if it will use the cached TGT or if it would like to force a new TGT via an AS exchange.

https://github.com/jcmturner/gokrb5/

[2020-01-12 15:08] #332 closed

[2020-01-13 13:50] L11R commented on #278
By the way I have the same issue using Windows Server 2012 as DC.

[2020-01-14 21:02] jcmturner commented on #278
I have been able to recreate this on Windows 2012. I believe the issue is on the client side not the DC as it is the client that forms the SPNEGO ticket. You can see in the wireshark screen shot below that the order of the preferred mech types does not match the mech token being sent. That is the OID of the mech token is not the same as the first item in the mech types list. A strict interpretatio

[2020-01-14 21:23] #278 closed

[2020-01-15 16:47] jgiannuzzi commented on #278
Hey @jcmturner, thanks a lot for looking into this!

I wonder if removing that check entirely means that we don't check anywhere the OID of the MechToken. Maybe we should at least verify that it is one of our supported mechs? I guess this could be done in KRB5Token.Unmarshal or KRB5Token.Verify?

As a side note, whilst researching why this MSLegacyKRB5 OID even exists, I found this [note from Micr

[2020-01-17 21:10] jcmturner commented on #278
Thanks @jgiannuzzi this is really useful. My view is that Windows 2000 is so old and isn't supported by MS any more so I don't see that we should be supporting it either.

As you suggest it would make sense to add to the unmarshal at...
https://github.com/jcmturner/gokrb5/blob/8a3a3d700460d6dee4e98b6c06bf26296d2fd2c8/spnego/krb5Token.go#L67-L73
a check that this OID is 1.2.840.113554.1.2.2

[2020-01-18 14:59] jcmturner commented on #278
I merged in #353 for this.

[2020-01-23 15:15] L11R opened #354 "Logger should be an interface"
Hi, first thanks for the library.
I personally use library as SPNEGO HTTP service. As far as I got, logging is relatively new feature here. But I think it is done wrong. Okay, I could pass Golang std logger. But who uses it in production? So there are two ways to fix it for me:
1. Write `log.Logger` output into some buffer, parse this and log it again by my main app logger.
2. Rewrite `spnego.SPNE

[2020-01-28 20:46] jcmturner commented on #296
Commit merged into draft-v8 branch:
https://github.com/jcmturner/gokrb5/commit/d05f85962704f4a4cf2f1fa7f037c1a22e66b073

[2020-01-28 20:52] jcmturner commented on #317
Closing, please re-open if you think there is still an issue.

[2020-01-28 20:52] #317 closed

[2020-01-29 19:51] jcmturner commented on #351
The solution I think we will go with here is to leave the ``client.Login()`` function as is (it will always get a new TGT) and introduce a ``client.AffirmLogin()`` function that will check if the client has a valid TGT, if it does it will return without performing an AS exchange, if it doesn't it will perform the AS exchange.

Then update this function to use the ``client.AffirmLogin()``
https://g

[2020-01-31 19:34] #330 closed

[2020-01-31 20:24] jcmturner commented on #296
fixed in v8

[2020-01-31 20:24] #296 closed

[2020-01-31 20:24] jcmturner commented on #289
added to v8

[2020-01-31 20:24] #289 closed

[2020-01-31 20:24] jcmturner commented on #288
addressed in newly release v8

[2020-01-31 20:24] #288 closed

[2020-01-31 20:24] jcmturner commented on #275
fixed in v8

[2020-01-31 20:24] #275 closed

[2020-01-31 20:53] jcmturner commented on #351
fixed in v7.5.0 and v8.0.0

[2020-01-31 20:53] #351 closed

[2020-02-03 17:59] tyrannosaurus-becks opened #359 "Improvement request: export ctxCredentials"
Hi, just a minor feature request. It would be lovely if this library returned to exporting `ctxCredentials` [here](https://github.com/jcmturner/gokrb5/blob/master/v8/spnego/http.go#L204). We were actually using it [like this](https://github.com/hashicorp/vault-plugin-auth-kerberos/blob/master/path_login.go#L117) to pull out credentials and verify that the identity we received was the one we expect

[2020-02-04 08:32] mastermike501 opened #360 "Go complains that methods in config and client packages are invalid"
Hey Jonathan

I'm quite new to Go and Go modules. Recently bumped up my app (previously working on v7) to use Go modules and also to v8 of gokrb5. However after bumping up the gokrb5 library to v8, the IDE starts complaining that it can't detect `config.NewConfigFromString` and `client.NewClientWithPassword`. Oddly enough, it can detect `spnego.NewClient`. I've attached an image of my imports and

[2020-02-04 19:44] tyrannosaurus-becks commented on #359
Actually, after some testing I found that in `v8`, instead I can just use `goidentity.CTXKey` for this. Closing as this isn't needed.

[2020-02-04 19:44] #359 closed

[2020-02-04 20:06] jcmturner commented on #360
I removed some "stutter" in the function names in v8.

So instead of ``config.NewConfigFromString`` it is just ``config.NewFromString``.

Instead of ``client.NewClientWithPassword`` it is ``client.NewWithPassword``.

[2020-02-04 20:11] jcmturner commented on #359
There is this method that can help...

``creds := goidentity.FromHTTPRequestContext(r)``

[2020-02-04 23:21] mastermike501 commented on #360
Ah…I just realized that there is `client` and `v8/client` in the docs. Totally missed that. Thanks!

Closing issue.

[2020-02-04 23:21] #360 closed

[2020-02-05 21:34] #307 closed

[2020-02-05 21:36] jcmturner commented on #294
Let me know if the ``preferred_preauth_types`` configuration above works. If not please re-open this issue.

[2020-02-05 21:36] #294 closed

[2020-02-08 09:52] #347 closed

[2020-02-08 11:13] brlbil opened #367 "Getting KDC_ERR_S_PRINCIPAL_UNKNOWN error"
Hi

Thanks for the library. I have only a basic understanding of kerberos. I looked all over the examples and issues to make this work. But I could not make it work. I am trying to authenticate to a service using keytab for the host account, not a logged-in user. Basically I am trying the procedure below in golang. Domain names are changed.

[code]

The code that is run is below.

[code]

I got th

[2020-02-08 20:32] jcmturner commented on #367
Hi @brlbil

The error ``KDC_ERR_S_PRINCIPAL_UNKNOWN Server not found in Kerberos database`` means that you don't have an SPN registered in the KDC for ``HTTP/acxyz.pklngnt-zum.example.com``

This is not the same as a DNS entry. If you are using Active Directory this may help: https://docs.microsoft.com/en-gb/archive/blogs/autz_auth_stuff/what-is-a-spn-and-why-should-you-care

[2020-02-10 09:57] brlbil commented on #367
Hi @jcmturner

After some strace to see what curl does after some confusion I found out that curl was using credentials cache to connect to the service. I could make this work by using CCache.

Thanks

[2020-02-11 22:40] Lercher commented on #354
Furthermore adding `|log.Lshortfile` is quite un-informative, b/c it always references only this line
https://github.com/jcmturner/gokrb5/blob/master/spnego/spnego.go#L95

Defaulting `s.serviceSettings.Logger()` to an empty func and using `Logger()` everywhere to log probably provides better locations. Just an idea though, haven't tried it myself.